entidadVirtual/Hub/flow.json
[
    {
        "id": "a81c23f3.bd483",
        "type": "tab",
        "label": "Telemetry Flow",
        "disabled": true,
        "info": ""
    },
    {
        "id": "34f6a4a0.c4adbc",
        "type": "tab",
        "label": "CorrectEntry Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ddb0bb9c.500fa8",
        "type": "tab",
        "label": "PrivatePopertyOwnerFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c716ffd5.d195d",
        "type": "tab",
        "label": "MicrocontrollerHealthcheck Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9f25517e.dc5bc8",
        "type": "tab",
        "label": "HubHealthcheckFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8e3a915.9cf118",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.33",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9e2cc79c.317298",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.70",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d459177c.3d905",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007WriterConnection",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "10",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b43d730.8b5731",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "7864308b.b44098",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/claves/Arduino007",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/claves/Arduino007",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/claves/Arduino007",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "95b6be9c.590918",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.envio",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "66020ec3.36326",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6bf30e21.7143f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dec95f12.953088",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d61fe174.7f0c2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "21be8c88.6d7f64",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.recibir",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.recibir",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6286e69c.ab1e4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/apertura/2-503",
        "broker": "172.24.41.182",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/apertura/2-503",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/apertura/2-503",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5d4d54b.bf3e5ac",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-503/alarmas/Arduino007",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "39d8c307.06b4a4",
        "type": "tls-config",
        "z": "",
        "name": "CONF MANRIQUE",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/ja.manrique/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "423d96e9.1578",
        "type": "mqtt-broker",
        "z": "",
        "name": "TEST",
        "broker": "172.24.41.183",
        "port": "8083",
        "tls": "7286d002.605868",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e199261a.efb0f8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7286d002.605868",
        "type": "tls-config",
        "z": "",
        "name": "CONF CARLOS",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/cm.sarmiento10/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "84bc4f24.36d058",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "fd5fe0d5.a2ccd",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/CerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/CerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "24d81772.16ff1",
        "type": "inject",
        "z": "a81c23f3.bd483",
        "name": "Send Time",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "5a28159e.ed1894",
                "6d1eae87.85925"
            ]
        ]
    },
    {
        "id": "cda3dec6.d81e98",
        "type": "function",
        "z": "a81c23f3.bd483",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-503\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n//Set the alarm sending to true by default\nif(typeof global.get(\"emailActivated\")=='undefined')\n{\n    global.set(\"emailActivated\",true);\n}\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1][0],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "dad6b47.267ddc8",
                "e68a0d3a.e27a88"
            ]
        ]
    },
    {
        "id": "6d1eae87.85925",
        "type": "function",
        "z": "a81c23f3.bd483",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "f0db5c46.f3f48",
                "e68a0d3a.e27a88"
            ]
        ]
    },
    {
        "id": "4052f2a1.f8529c",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 20,
        "wires": []
    },
    {
        "id": "dad6b47.267ddc8",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "5a28159e.ed1894",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0db5c46.f3f48",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "e68a0d3a.e27a88",
        "type": "function",
        "z": "a81c23f3.bd483",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    res.test=global.get(\"emailActivated\");\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "fd8f5986.edef08",
                "4f8d0b1a.d37044",
                "6318c0ff.7b8ff",
                "5843eba3.9d8844"
            ]
        ]
    },
    {
        "id": "19797ae6.0376c5",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "89415c67.8be7f",
        "type": "mqtt out",
        "z": "a81c23f3.bd483",
        "name": "Emergency 1",
        "topic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "66020ec3.36326",
        "x": 1290,
        "y": 60,
        "wires": []
    },
    {
        "id": "faff2eb0.303eb",
        "type": "switch",
        "z": "a81c23f3.bd483",
        "name": "Classify emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "89415c67.8be7f",
                "19797ae6.0376c5"
            ],
            [
                "476f2563.86810c",
                "e6167352.0908c"
            ],
            [
                "60765d6d.1f8954",
                "514d4c4b.e2e4cc"
            ],
            [
                "babeddaf.a72b28",
                "82f8f459.1c6258"
            ]
        ]
    },
    {
        "id": "476f2563.86810c",
        "type": "mqtt out",
        "z": "a81c23f3.bd483",
        "name": "Emergency 2",
        "topic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "6bf30e21.7143f",
        "x": 1350,
        "y": 200,
        "wires": []
    },
    {
        "id": "e6167352.0908c",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1420,
        "y": 260,
        "wires": []
    },
    {
        "id": "60765d6d.1f8954",
        "type": "mqtt out",
        "z": "a81c23f3.bd483",
        "name": "Emergency 3",
        "topic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "dec95f12.953088",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "514d4c4b.e2e4cc",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "After Merge 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "babeddaf.a72b28",
        "type": "mqtt out",
        "z": "a81c23f3.bd483",
        "name": "Emergency 4",
        "topic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "d61fe174.7f0c2",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "82f8f459.1c6258",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "After Merge 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "fd8f5986.edef08",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "4f8d0b1a.d37044",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "a028253.4efa758",
        "type": "mqtt in",
        "z": "a81c23f3.bd483",
        "name": "",
        "topic": "Arduino007.envio",
        "qos": "0",
        "broker": "95b6be9c.590918",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "d74b3c82.68db38"
            ]
        ]
    },
    {
        "id": "34478d11.7e0e72",
        "type": "inject",
        "z": "a81c23f3.bd483",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 20,
        "wires": [
            [
                "94223766.9bee9"
            ]
        ]
    },
    {
        "id": "94223766.9bee9",
        "type": "random",
        "z": "a81c23f3.bd483",
        "name": "Random emergency",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 260,
        "y": 20,
        "wires": [
            [
                "2f5bea78.c63806"
            ]
        ]
    },
    {
        "id": "d74b3c82.68db38",
        "type": "function",
        "z": "a81c23f3.bd483",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "4052f2a1.f8529c",
                "bf17128b.931cc8"
            ]
        ]
    },
    {
        "id": "bf17128b.931cc8",
        "type": "switch",
        "z": "a81c23f3.bd483",
        "name": "Is emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 60,
        "wires": [
            [
                "cda3dec6.d81e98"
            ]
        ]
    },
    {
        "id": "2f5bea78.c63806",
        "type": "function",
        "z": "a81c23f3.bd483",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "d74b3c82.68db38"
            ]
        ]
    },
    {
        "id": "e498ea45.f71cc8",
        "type": "mqtt out",
        "z": "ddb0bb9c.500fa8",
        "name": "",
        "topic": "Arduino007.recibir",
        "qos": "0",
        "retain": "",
        "broker": "21be8c88.6d7f64",
        "x": 1070,
        "y": 60,
        "wires": []
    },
    {
        "id": "9e3af951.bceb98",
        "type": "mqtt in",
        "z": "ddb0bb9c.500fa8",
        "name": "",
        "topic": "Centro/Toscana/2-5-3/claves/Arduino007",
        "qos": "0",
        "broker": "7864308b.b44098",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "3ca1ebdb.7d11ec",
                "2a630e64.7916f2"
            ]
        ]
    },
    {
        "id": "3ca1ebdb.7d11ec",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "Virtual entity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "7bf50ee4.c8d238",
        "type": "function",
        "z": "ddb0bb9c.500fa8",
        "name": "Verify arduino message",
        "func": "data=msg.payload.msg.split(\";\");\nlist=[\"NEW_PASSWORD\",\"CHANGE_PASSWORD\",\"DELETE_PASSWORD\",\"DELETE_ALL\"];\nif(data.length>2)\n{\n    if(data[1].length<=2 &&data[2].length==4)\n    {\n        if(!isNaN(parseInt(data[1]))&&parseInt(data[1])<20 && !isNaN(parseInt(data[2])))\n        {\n            msg.payload=list[parseInt(data[0])-1]+\";\"+data[1]+\";\"+data[2];\n        }\n    }\n}\nelse if (data.length>1)\n{\n    if(!isNaN(parseInt(data[1]))&&parseInt(data[1])<20)\n        {\n            msg.payload=list[parseInt(data[0])-1]+\";\"+data[1];\n        }\n}\nelse\n{\n    if(parseInt(msg.payload.msg)===4)\n    {\n        msg.payload=list[parseInt(msg.payload.msg)-1]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 140,
        "wires": [
            [
                "706e2be0.75a374",
                "e498ea45.f71cc8"
            ]
        ]
    },
    {
        "id": "706e2be0.75a374",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "Message sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "f8a969cb.79af",
        "type": "inject",
        "z": "ddb0bb9c.500fa8",
        "name": "INJECT PASSWORD CHANGE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "4253ab23.fc4b14"
            ]
        ]
    },
    {
        "id": "4253ab23.fc4b14",
        "type": "random",
        "z": "ddb0bb9c.500fa8",
        "name": "Random emergency",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "e45e2d1.7441ed"
            ]
        ]
    },
    {
        "id": "d245b00e.344db8",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "Virtual mock",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "e45e2d1.7441ed",
        "type": "function",
        "z": "ddb0bb9c.500fa8",
        "name": "Merge",
        "func": "num=parseInt(msg.payload);\nif (num==3)\n{\n    msg.payload=\"{\\\"msg\\\":\\\"\"+num+\";\"+\"01\\\"}\";\n}\nelse if(num<4)\n{\n    msg.payload=\"{\\\"msg\\\":\\\"\"+num+\";\"+\"01\"+\";\"+\"3141\\\"}\";\n}\nelse\n    msg.payload=\"{\\\"msg\\\":\\\"\"+num+\"\\\"}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "d245b00e.344db8",
                "6912859b.27aabc"
            ]
        ]
    },
    {
        "id": "2a630e64.7916f2",
        "type": "json",
        "z": "ddb0bb9c.500fa8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "6912859b.27aabc"
            ]
        ]
    },
    {
        "id": "18eddaf4.fd7bd5",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "Json Conversion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "6b82f3bf.6f0894",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Reset Health Check",
        "func": "global.set(\"lastHealthCheck\",new Date());\nglobal.set(\"misses\",0);",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2aafec8.6b2b714",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Format Time",
        "func": "\nif(typeof global.get(\"lastHealthCheck\")=='undefined')\n{\n    global.set(\"lastHealthCheck\",new Date());\n    msg.test2=\"ENTRA\";\n}\nif(isNaN(global.get(\"misses\")))\n{\n    global.set(\"misses\",0);\n}\n\nvar maxMisses=1;\nvar time=10000;\nvar last=global.get(\"lastHealthCheck\");\nmsg.flag=0;\n\nvar diffMs = (new Date() - last); // milliseconds between now & Christmas\n\nmsg.test=global.get(\"lastHealthCheck\")+\" \"+global.get(\"misses\")+\" \"+diffMs;\n\nif(diffMs>time)\n{\n    global.set(\"misses\",global.get(\"misses\")+1);\n}\nif(global.get(\"misses\")>maxMisses)\n{\n    msg.flag=1;\n    msg.headers={\"Content-Type\":\"application/json\"};\n    msg.payload={\n          \"remitente\":\"Hub007@yale\",\n          \"destinatarios\":[\n          {\n              \"correo\":\"js.diaz@uniandes.edu.co\"\n          },\n          {\n              \"correo\":\"ja.manrique@uniandes.edu.co\"\n          },\n          {\n              \"correo\":\"cm.sarmiento10@uniandes.edu.co\"\n          }\n          ],\n          \"asunto\":\"CERRADURA FUERA DE LÍNEA\",\n          \"cuerpo\":\"Arduino 007 no está en línea\"\n     \n      };\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "d79095c2.2370f",
                "665aef84.14ef",
                "fe5494b0.364cb8",
                "6e9aa67a.0b96a8",
                "ce675edd.24ebb8"
            ]
        ]
    },
    {
        "id": "1b4f8040.0998b",
        "type": "switch",
        "z": "c716ffd5.d195d",
        "name": "Is correct entry?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "6b82f3bf.6f0894",
                "54856cbb.86e424"
            ]
        ]
    },
    {
        "id": "514c60e6.97d12",
        "type": "inject",
        "z": "c716ffd5.d195d",
        "name": "Healthcheck Verification",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "3c514c4a.76bf04",
                "2aafec8.6b2b714"
            ]
        ]
    },
    {
        "id": "d79095c2.2370f",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "HC3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "f5cf0e6d.904338",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "21463b73.1a206c",
                "1b4f8040.0998b"
            ]
        ]
    },
    {
        "id": "3c514c4a.76bf04",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "HC2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "21463b73.1a206c",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "FLAG1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "25ca698.9691016",
        "type": "random",
        "z": "c716ffd5.d195d",
        "name": "Random emergency",
        "low": "5",
        "high": "5",
        "inte": "true",
        "x": 300,
        "y": 20,
        "wires": [
            [
                "debe76c9.6e646"
            ]
        ]
    },
    {
        "id": "29cfc44d.90d17c",
        "type": "inject",
        "z": "c716ffd5.d195d",
        "name": "",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 20,
        "wires": [
            [
                "25ca698.9691016"
            ]
        ]
    },
    {
        "id": "ede1b737.188af",
        "type": "mqtt in",
        "z": "c716ffd5.d195d",
        "name": "",
        "topic": "Arduino007.envio",
        "qos": "0",
        "broker": "95b6be9c.590918",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "91c2374.9ae15c8",
                "f5cf0e6d.904338"
            ]
        ]
    },
    {
        "id": "debe76c9.6e646",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Put id",
        "func": "msg.payload=msg.payload+\"\\t3141\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "665aef84.14ef",
        "type": "switch",
        "z": "c716ffd5.d195d",
        "name": "Is emergency?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "c7412491.606b18",
                "3272489b.b734c8"
            ]
        ]
    },
    {
        "id": "fe5494b0.364cb8",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "HC4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "c7412491.606b18",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "HC5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "6e9aa67a.0b96a8",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "TEST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "ce675edd.24ebb8",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "TEST2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test2",
        "x": 250,
        "y": 440,
        "wires": []
    },
    {
        "id": "6bf43a36.a4b31c",
        "type": "inject",
        "z": "9f25517e.dc5bc8",
        "name": "TIME INTERVAL",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "4cea937a.702394"
            ]
        ]
    },
    {
        "id": "4cea937a.702394",
        "type": "function",
        "z": "9f25517e.dc5bc8",
        "name": "HEALTHCHECK",
        "func": "msg.payload={\"Hub\":\"Hub007\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "e8a59ca3.44937",
                "552e0136.79c81"
            ]
        ]
    },
    {
        "id": "e8a59ca3.44937",
        "type": "http request",
        "z": "9f25517e.dc5bc8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://172.24.42.57:9000/yale",
        "tls": "",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "6c1d0ddf.357874"
            ]
        ]
    },
    {
        "id": "54856cbb.86e424",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "HC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "91c2374.9ae15c8",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "HCheck",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "be0c295e.e20a78",
        "type": "inject",
        "z": "34f6a4a0.c4adbc",
        "name": "ACEPTAR",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "8db5adda.8b52b"
            ]
        ]
    },
    {
        "id": "8db5adda.8b52b",
        "type": "function",
        "z": "34f6a4a0.c4adbc",
        "name": "GET MQTT MSG",
        "func": "number=0;\nif(number==0)\n    msg.payload=\"CERRAR\";\nelse\n    msg.payload=\"ABRIR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "2439fb9.d5c8904"
            ]
        ]
    },
    {
        "id": "2439fb9.d5c8904",
        "type": "mqtt out",
        "z": "34f6a4a0.c4adbc",
        "name": "",
        "topic": "Arduino007.recibir",
        "qos": "",
        "retain": "",
        "broker": "21be8c88.6d7f64",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "525dafb4.185a2",
        "type": "mqtt out",
        "z": "34f6a4a0.c4adbc",
        "name": "",
        "topic": "Arduino007.recibir",
        "qos": "",
        "retain": "",
        "broker": "21be8c88.6d7f64",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "87f290d6.3f3ca",
        "type": "function",
        "z": "34f6a4a0.c4adbc",
        "name": "GET MQTT MSG",
        "func": "number=1\nif(number==0)\n    msg.payload=\"CERRAR\";\nelse\n    msg.payload=\"ABRIR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 640,
        "wires": [
            [
                "525dafb4.185a2"
            ]
        ]
    },
    {
        "id": "8e6707a9.61eac8",
        "type": "inject",
        "z": "34f6a4a0.c4adbc",
        "name": "RECHAZAR",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "87f290d6.3f3ca"
            ]
        ]
    },
    {
        "id": "b1ce02a1.7fe8c",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Reinicio arduino",
        "func": "global.set(\"misses\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 260,
        "wires": [
            [
                "8127e7d7.9ff548"
            ]
        ]
    },
    {
        "id": "ed497d5.501e58",
        "type": "function",
        "z": "ddb0bb9c.500fa8",
        "name": "Verify alarm message",
        "func": "if (msg.payload.msg==\"A\")\n    global.set(\"emailActivated\",true);\nelse if (msg.payload.msg==\"D\")\n    global.set(\"emailActivated\",false);\nmsg.payload=global.get(\"emailActivated\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "9bcf1e39.40561"
            ]
        ]
    },
    {
        "id": "6318c0ff.7b8ff",
        "type": "switch",
        "z": "a81c23f3.bd483",
        "name": "Email is activated?",
        "property": "emailActivated",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 160,
        "wires": [
            [
                "faff2eb0.303eb"
            ]
        ]
    },
    {
        "id": "9bcf1e39.40561",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "GLOBAL EMAIL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "f8d2a1ce.ef2ab",
        "type": "switch",
        "z": "ddb0bb9c.500fa8",
        "name": "Verify topic",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "7bf50ee4.c8d238"
            ],
            [
                "ed497d5.501e58"
            ]
        ]
    },
    {
        "id": "5843eba3.9d8844",
        "type": "debug",
        "z": "a81c23f3.bd483",
        "name": "EMIAL IS ACTIVATED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "6912859b.27aabc",
        "type": "function",
        "z": "ddb0bb9c.500fa8",
        "name": "PUT FLAG",
        "func": "msg.flag=0;\nindice=msg.payload.msg.split(\";\")[0];\nif(indice==\"A\" || indice==\"D\")\n    msg.flag=1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "f8d2a1ce.ef2ab",
                "d3825ae.b9c9fa8"
            ]
        ]
    },
    {
        "id": "d3825ae.b9c9fa8",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "MSG FLAG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "552e0136.79c81",
        "type": "debug",
        "z": "9f25517e.dc5bc8",
        "name": "HUB HC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "6c1d0ddf.357874",
        "type": "debug",
        "z": "9f25517e.dc5bc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "f58759ff.7f50e",
        "type": "mqtt out",
        "z": "34f6a4a0.c4adbc",
        "name": "",
        "topic": "Arduino007.recibir",
        "qos": "",
        "retain": "",
        "broker": "21be8c88.6d7f64",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "e00bd0a8.abd328",
        "type": "function",
        "z": "34f6a4a0.c4adbc",
        "name": "GET MQTT MSG",
        "func": "res={};\nres.payload=\"CERRAR\";\nmsg.test=global.get(\"Timeout\");\nvar last=global.get(\"arduinoRequestDate\");\nvar time=global.get(\"arduinoTimeout\");\nvar diffMs = (new Date() - last); // milliseconds between now & Christmas\nif(msg.statusCode==200 && diffMs<=time)\n{\n    for (horario in msg.payload)\n    {\n        var data=msg.payload[horario].horaInicio.split(\":\");\n        var inicio=new Date();\n        inicio.setHours(parseInt(data[0]));\n        inicio.setMinutes(parseInt(data[1]));\n        var data=msg.payload[horario].horaFin.split(\":\");\n        fin=new Date();\n        fin.setHours(parseInt(data[0]));\n        fin.setMinutes(parseInt(data[1]));\n        if(new Date()>=inicio && new Date()<=fin)\n            res.payload=\"ABRIR\";\n    }\n    \n}\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "f58759ff.7f50e",
                "ee1c0c4f.f691",
                "335e900a.1290a"
            ]
        ]
    },
    {
        "id": "ee1c0c4f.f691",
        "type": "debug",
        "z": "34f6a4a0.c4adbc",
        "name": "msg result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "335e900a.1290a",
        "type": "debug",
        "z": "34f6a4a0.c4adbc",
        "name": "TEST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "cd7bbca9.598ab8",
        "type": "function",
        "z": "34f6a4a0.c4adbc",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\";\nvar conjunto=\"Toscana\";\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"entryHub\";\nres.payload = {};\nres.payload = {\"apartamento\": apartamento, \"conjunto\": conjunto,\"codigo\":tempArray[0],\"username\":username,\"password\":password};\n\nglobal.set(\"arduinoRequestDate\",new Date());\nglobal.set(\"arduinoTimeout\",tempArray[2]);\nglobal.set(\"scope\",\"unidadesResidenciales/\"+conjunto+\"/inmuebles/\"+apartamento+\"/horariosHub\");\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "8c172336.62932"
            ]
        ]
    },
    {
        "id": "8c172336.62932",
        "type": "debug",
        "z": "34f6a4a0.c4adbc",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "c2818a40.bea788",
        "type": "switch",
        "z": "34f6a4a0.c4adbc",
        "name": "Is correct entry?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "cd7bbca9.598ab8"
            ]
        ]
    },
    {
        "id": "bf0a8711.72761",
        "type": "function",
        "z": "34f6a4a0.c4adbc",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "c2818a40.bea788",
                "f11155c6.522e1"
            ]
        ]
    },
    {
        "id": "f11155c6.522e1",
        "type": "debug",
        "z": "34f6a4a0.c4adbc",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "98342d12.4458a8",
        "type": "mqtt in",
        "z": "34f6a4a0.c4adbc",
        "name": "",
        "topic": "Arduino007.envio",
        "qos": "0",
        "broker": "95b6be9c.590918",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "bf0a8711.72761",
                "a430a835.f23778"
            ]
        ]
    },
    {
        "id": "9735429e.c7973",
        "type": "function",
        "z": "34f6a4a0.c4adbc",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload+\"\\t\"+5000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "bf0a8711.72761"
            ]
        ]
    },
    {
        "id": "a430a835.f23778",
        "type": "debug",
        "z": "34f6a4a0.c4adbc",
        "name": "HOLA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "85d5c560.7df24",
        "type": "random",
        "z": "34f6a4a0.c4adbc",
        "name": "Random emergency",
        "low": "0",
        "high": "0",
        "inte": "true",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "9735429e.c7973"
            ]
        ]
    },
    {
        "id": "a3b78923.8bd4d",
        "type": "inject",
        "z": "34f6a4a0.c4adbc",
        "name": "",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "85d5c560.7df24"
            ]
        ]
    },
    {
        "id": "c9d6e16e.7f9ab",
        "type": "inject",
        "z": "ddb0bb9c.500fa8",
        "name": "ENABLE ALARMS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "8a1d6eb5.71309"
            ]
        ]
    },
    {
        "id": "8a1d6eb5.71309",
        "type": "function",
        "z": "ddb0bb9c.500fa8",
        "name": "Merge",
        "func": "   msg.payload=\"{\\\"msg\\\":\\\"\"+msg.payload+\"\\\"}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "3229b24c.e645ee"
            ]
        ]
    },
    {
        "id": "3229b24c.e645ee",
        "type": "debug",
        "z": "ddb0bb9c.500fa8",
        "name": "Virtual ENABLE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "8127e7d7.9ff548",
        "type": "mqtt out",
        "z": "c716ffd5.d195d",
        "name": "",
        "topic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "qos": "",
        "retain": "",
        "broker": "fd5fe0d5.a2ccd",
        "x": 1890,
        "y": 280,
        "wires": []
    },
    {
        "id": "3272489b.b734c8",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n\n\nres.topic = \"failureHub\";\nres.payload = {};\n\nres.payload = {\"id\": \"Arduino007\", \"fallo\":\"Cerradura fuera de línea\",\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "3dd8b5c5.fe437a",
                "e27f4768.fa36c8"
            ]
        ]
    },
    {
        "id": "3dd8b5c5.fe437a",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"failureTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"failureHub\":\n        context.data.failure = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.failure != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"failureHub\";\n    context.data = null;\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1450,
        "y": 480,
        "wires": [
            [
                "b1ce02a1.7fe8c",
                "6f69fa7.4e93e04"
            ]
        ]
    },
    {
        "id": "67bf5d91.e22844",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 560,
        "wires": []
    },
    {
        "id": "d079fd37.b2365",
        "type": "function",
        "z": "c716ffd5.d195d",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "67bf5d91.e22844",
                "3dd8b5c5.fe437a"
            ]
        ]
    },
    {
        "id": "8617c210.423be",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 480,
        "wires": []
    },
    {
        "id": "10c00f47.4b2011",
        "type": "inject",
        "z": "c716ffd5.d195d",
        "name": "Send Time",
        "topic": "failureTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "8617c210.423be",
                "d079fd37.b2365"
            ]
        ]
    },
    {
        "id": "6f69fa7.4e93e04",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "MENSAJE SPEED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1700,
        "y": 520,
        "wires": []
    },
    {
        "id": "e27f4768.fa36c8",
        "type": "debug",
        "z": "c716ffd5.d195d",
        "name": "POST FORMAT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1310,
        "y": 300,
        "wires": []
    }
]