entidadVirtual/Hub/flow.json
[
    {
        "id": "29a87b99.3fefc4",
        "type": "tab",
        "label": "prueba_mosquitto",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a89e17f9.2812b8",
        "type": "tab",
        "label": "Telemetry Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4a6d7e6.d7a68",
        "type": "tab",
        "label": "CorrectEntry Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1370a681.d22b81",
        "type": "tab",
        "label": "PrivatePopertyOwnerFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3168e7e.fe1238",
        "type": "tab",
        "label": "HubHealthcheckFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58426af.59b8114",
        "type": "tab",
        "label": "MicrocontrollerHealthcheck Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "49ec064d.4a2bf8",
        "type": "tab",
        "label": "Speed Security Test",
        "disabled": true,
        "info": ""
    },
    {
        "id": "c13e6009.01d55",
        "type": "tab",
        "label": "Device closing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "415fff6d.5e95c",
        "type": "tab",
        "label": "Remote opening and closing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2e1c74a.f84a9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8e3a915.9cf118",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.33",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9e2cc79c.317298",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.70",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d459177c.3d905",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007WriterConnection",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "10",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b43d730.8b5731",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "7864308b.b44098",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/claves",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/claves",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/claves",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "95b6be9c.590918",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.envio",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "66020ec3.36326",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6bf30e21.7143f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dec95f12.953088",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d61fe174.7f0c2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "21be8c88.6d7f64",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.recibir",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.recibir",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6286e69c.ab1e4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/apertura/2-503",
        "broker": "172.24.41.182",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/apertura/2-503",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/apertura/2-503",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5d4d54b.bf3e5ac",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-503/alarmas/Arduino007",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "39d8c307.06b4a4",
        "type": "tls-config",
        "z": "",
        "name": "CONF MANRIQUE",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/ja.manrique/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "423d96e9.1578",
        "type": "mqtt-broker",
        "z": "",
        "name": "TEST",
        "broker": "172.24.41.183",
        "port": "8083",
        "tls": "7286d002.605868",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e199261a.efb0f8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7286d002.605868",
        "type": "tls-config",
        "z": "",
        "name": "CONF CARLOS",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/cm.sarmiento10/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "84bc4f24.36d058",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "fd5fe0d5.a2ccd",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "44a57b55.f2de64",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/hub/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/hub/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/hub/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "aae4e60d.4db808",
        "type": "redis-config",
        "z": "",
        "host": "172.24.41.182",
        "port": "6379",
        "dbase": "0",
        "pass": ""
    },
    {
        "id": "e70048cb.8d5678",
        "type": "websocket-client",
        "z": "",
        "path": "/ws/motors",
        "wholemsg": "false"
    },
    {
        "id": "46d2c476.4c6f1c",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/k9",
        "wholemsg": "false"
    },
    {
        "id": "8b2c2fa8.daa85",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        }
    },
    {
        "id": "26ed9c0e.893d34",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "2c2fcb2d.a5dcb4",
        "type": "ui_group",
        "z": "",
        "name": "Speed",
        "tab": "26ed9c0e.893d34",
        "disp": true,
        "width": "6"
    },
    {
        "id": "225ad44f.dca5bc",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "26ed9c0e.893d34",
        "disp": true,
        "width": "6"
    },
    {
        "id": "e7121098.ac0c5",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "26ed9c0e.893d34",
        "disp": true,
        "width": "6"
    },
    {
        "id": "22aa58c3.69b628",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "697bd1b2.a1c2c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/cu.usbmodem1411",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "32172854.379fb8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/ultrasonic",
        "wholemsg": "false"
    },
    {
        "id": "2f4c18f9.b0fbd8",
        "type": "redis-config",
        "z": "",
        "host": "{{127.0.0.1}}",
        "port": "{{6379}}",
        "dbase": "{{0}}",
        "pass": ""
    },
    {
        "id": "58b23148.6df7",
        "type": "websocket-client",
        "z": "",
        "path": "/ws/motors",
        "wholemsg": "false"
    },
    {
        "id": "f922bba7.9b6268",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/k9",
        "wholemsg": "false"
    },
    {
        "id": "885d6ba7.ea99e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        }
    },
    {
        "id": "e39a7de8.17947",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "65ed7c17.6fbb84",
        "type": "ui_group",
        "z": "",
        "name": "Speed",
        "tab": "e39a7de8.17947",
        "disp": true,
        "width": "6"
    },
    {
        "id": "660f4dd7.dc6c84",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "e39a7de8.17947",
        "disp": true,
        "width": "6"
    },
    {
        "id": "dc91c3c3.8d053",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "e39a7de8.17947",
        "disp": true,
        "width": "6"
    },
    {
        "id": "5d840e0.b4c5af4",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "3cfa9fb2.40bc8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/cu.usbmodem1411",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "31b599f9.e3d3b6",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/ultrasonic",
        "wholemsg": "false"
    },
    {
        "id": "4dee3f25.df503",
        "type": "redis-config",
        "z": "",
        "host": "{{127.0.0.1}}",
        "port": "{{6379}}",
        "dbase": "{{0}}",
        "pass": ""
    },
    {
        "id": "943fed38.2468a",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/horarios",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/horarios",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/horarios",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f342dd7f.73d4d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7598044a.8ec2cc",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007/envio",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007/envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007/envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e3b46c81.3ef6f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arruza",
        "broker": "34.202.239.178",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "aeed959f.e3661",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "34.202.239.178",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "66421da4.721ea4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.33",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a72b067b.6f5c9",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.70",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "bcb77d2b.4180b",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007WriterConnection",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "10",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d4ee3fbd.76ba",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "ffeb9fd8.d40d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/claves",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/claves",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/claves",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4bf4397e.ed82e",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.envio",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "293060b6.69892",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9bd616e2.57bd2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "cd684e7d.5c608",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a3f59779.7f6cb",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "919be35d.c89d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.recibir",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.recibir",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "308489ac.fa2986",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/apertura/2-503",
        "broker": "172.24.41.182",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/apertura/2-503",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/apertura/2-503",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4e99fac3.277854",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-503/alarmas/Arduino007",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "66ea93f2.13361c",
        "type": "tls-config",
        "z": "",
        "name": "CONF MANRIQUE",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/ja.manrique/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "b4ffd8f3.3177b",
        "type": "mqtt-broker",
        "z": "",
        "name": "TEST",
        "broker": "172.24.41.183",
        "port": "8083",
        "tls": "902991b.30e6ef",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "483e11c2.0af5f",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "902991b.30e6ef",
        "type": "tls-config",
        "z": "",
        "name": "CONF CARLOS",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/cm.sarmiento10/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "e2addd2c.fa7b98",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "8afe11c1.9edc48",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "2e13276.555cc58",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/hub/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/hub/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/hub/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9ccba7de.8958d",
        "type": "websocket-client",
        "z": "",
        "path": "/ws/motors",
        "wholemsg": "false"
    },
    {
        "id": "f239137e.3ba2d",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/k9",
        "wholemsg": "false"
    },
    {
        "id": "4831e1aa.f080d8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "1718adb4.90cd4a",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/ultrasonic",
        "wholemsg": "false"
    },
    {
        "id": "20609ca3.62ec44",
        "type": "websocket-client",
        "z": "",
        "path": "/ws/motors",
        "wholemsg": "false"
    },
    {
        "id": "72b3bde1.71f07c",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/k9",
        "wholemsg": "false"
    },
    {
        "id": "a347ac23.3dd57",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "3f470970.1b5586",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/ultrasonic",
        "wholemsg": "false"
    },
    {
        "id": "af2c3ff.a14744",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/horarios",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/horarios",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/horarios",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f2232de6.7ec738",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e7ad1f2e.018a7",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007/envio",
        "broker": "34.202.239.178",
        "port": "8083",
        "tls": "d4ee3fbd.76ba",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007/envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007/envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "1f3feb9a.275dac",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arruza",
        "broker": "34.202.239.178",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9cbe3970.cf529",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "ac06e2ce.7f68e8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b484dc8d.f28ac8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "ac06e2ce.7f68e8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "de12787a.5e1fa8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "ac06e2ce.7f68e8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f04d598f.d4f2d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "ac06e2ce.7f68e8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d3f0cc0d.fe1e7",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arruza",
        "broker": "34.202.239.178",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ac06e2ce.7f68e8",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "cae4fd49.a0ea1",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.33",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b36076f8.6f711",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.70",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "cde6016a.8d6258",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007WriterConnection",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "10",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9620c4c2.b6be68",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "fba00783.8af99",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/claves",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/claves",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/claves",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6ab2148.4123bec",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.envio",
        "broker": "34.202.239.178",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4ab29afc.4d7104",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "34.202.239.178",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a4d5efb5.7a7eb",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "34.202.239.178",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d8f3d140.7c4c9",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "1eef1a35.7729a6",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e5bac0d0.cf118",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007.recibir",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007.recibir",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007.recibir",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "62165183.3f02a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/apertura/2-503",
        "broker": "172.24.41.182",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/apertura/2-503",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/apertura/2-503",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "fa2aebe.3487e18",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-503/alarmas/Arduino007",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-503/alarmas/Arduino007",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ca69918d.d1fe28",
        "type": "tls-config",
        "z": "",
        "name": "CONF MANRIQUE",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/ja.manrique/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "dd045fad.ec9ef8",
        "type": "mqtt-broker",
        "z": "",
        "name": "TEST",
        "broker": "172.24.41.183",
        "port": "8083",
        "tls": "557d51cf.d19728",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "59b3ed13.a1e63c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "557d51cf.d19728",
        "type": "tls-config",
        "z": "",
        "name": "CONF CARLOS",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/cm.sarmiento10/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "847cf82c.e4de98",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.23.65.161",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "52d05225.8076cc",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a5a9f79c.55a6a",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/hub/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/hub/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/hub/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "84a2a46b.8c328",
        "type": "websocket-client",
        "z": "",
        "path": "/ws/motors",
        "wholemsg": "false"
    },
    {
        "id": "f8cff3b.044b19",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/k9",
        "wholemsg": "false"
    },
    {
        "id": "3a265632.fbfc4a",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "1c0ba4da.144c63",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/ultrasonic",
        "wholemsg": "false"
    },
    {
        "id": "8b608894.4807e8",
        "type": "websocket-client",
        "z": "",
        "path": "/ws/motors",
        "wholemsg": "false"
    },
    {
        "id": "dd89e5c9.11371",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/k9",
        "wholemsg": "false"
    },
    {
        "id": "3c7e7d72.62bb72",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "f2387165.1bf6a8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/ultrasonic",
        "wholemsg": "false"
    },
    {
        "id": "f465c17.34f434",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/2-5-3/horarios",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/2-5-3/horarios",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/2-5-3/horarios",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c86a060a.6ea0d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9cb2aacf.4c035",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arduino007/envio",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "9620c4c2.b6be68",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Arduino007/envio",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Arduino007/envio",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dabf0282.a3a778",
        "type": "mqtt-broker",
        "z": "",
        "name": "Arruza",
        "broker": "34.202.239.178",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a3d885e8.5e2f88",
        "type": "redis-config",
        "z": "a2e1c74a.f84a9",
        "host": "172.24.41.182",
        "port": "6379",
        "dbase": "0",
        "pass": ""
    },
    {
        "id": "7fc0e0b0.e8d4",
        "type": "redis-config",
        "z": "a2e1c74a.f84a9",
        "host": "{{127.0.0.1}}",
        "port": "{{6379}}",
        "dbase": "{{0}}",
        "pass": ""
    },
    {
        "id": "e8672865.2f69a",
        "type": "redis-config",
        "z": "a2e1c74a.f84a9",
        "host": "{{127.0.0.1}}",
        "port": "{{6379}}",
        "dbase": "{{0}}",
        "pass": ""
    },
    {
        "id": "3daa4c38.fccfb4",
        "type": "serial-port",
        "z": "a2e1c74a.f84a9",
        "serialport": "/dev/cu.usbmodem1411",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "a4a81a01.785388",
        "type": "serial-port",
        "z": "a2e1c74a.f84a9",
        "serialport": "/dev/cu.usbmodem1411",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "6e8052.7fab07b",
        "type": "ui_base",
        "z": "a2e1c74a.f84a9",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        }
    },
    {
        "id": "594ed32d.b35624",
        "type": "ui_base",
        "z": "a2e1c74a.f84a9",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        }
    },
    {
        "id": "82ccf1bb.03c048",
        "type": "ui_group",
        "z": "a2e1c74a.f84a9",
        "name": "Speed",
        "tab": "26ed9c0e.893d34",
        "disp": true,
        "width": "6"
    },
    {
        "id": "9aa15a2f.f03bb8",
        "type": "ui_group",
        "z": "a2e1c74a.f84a9",
        "name": "Power",
        "tab": "26ed9c0e.893d34",
        "disp": true,
        "width": "6"
    },
    {
        "id": "f1e7829c.9c5c98",
        "type": "ui_group",
        "z": "a2e1c74a.f84a9",
        "name": "Environment",
        "tab": "26ed9c0e.893d34",
        "disp": true,
        "width": "6"
    },
    {
        "id": "401a93a0.2e4c24",
        "type": "ui_group",
        "z": "a2e1c74a.f84a9",
        "name": "Speed",
        "tab": "e39a7de8.17947",
        "disp": true,
        "width": "6"
    },
    {
        "id": "7bbaa31d.88f8ec",
        "type": "ui_group",
        "z": "a2e1c74a.f84a9",
        "name": "Power",
        "tab": "e39a7de8.17947",
        "disp": true,
        "width": "6"
    },
    {
        "id": "6afaac04.89eb7c",
        "type": "ui_group",
        "z": "a2e1c74a.f84a9",
        "name": "Environment",
        "tab": "e39a7de8.17947",
        "disp": true,
        "width": "6"
    },
    {
        "id": "7c2852b6.b62bbc",
        "type": "ui_tab",
        "z": "a2e1c74a.f84a9",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "11ebbca7.21fefb",
        "type": "ui_tab",
        "z": "a2e1c74a.f84a9",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "386b9070.866d58",
        "type": "inject",
        "z": "29a87b99.3fefc4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "f17ff0f4.a26f1"
            ]
        ]
    },
    {
        "id": "f17ff0f4.a26f1",
        "type": "mqtt out",
        "z": "29a87b99.3fefc4",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "broker": "aeed959f.e3661",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "f2a5d5ff.4c788",
        "type": "mqtt in",
        "z": "29a87b99.3fefc4",
        "name": "",
        "topic": "test",
        "qos": "2",
        "broker": "aeed959f.e3661",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "7a53d0e6.5c288"
            ]
        ]
    },
    {
        "id": "7a53d0e6.5c288",
        "type": "debug",
        "z": "29a87b99.3fefc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "84d783bc.65f51",
        "type": "inject",
        "z": "a89e17f9.2812b8",
        "name": "Send Time",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b242a0a8.c3c55",
                "10942a59.6e918e"
            ]
        ]
    },
    {
        "id": "759e4887.50be98",
        "type": "function",
        "z": "a89e17f9.2812b8",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n//Set the alarm sending to true by default\nif(typeof global.get(\"emailActivated\")=='undefined')\n{\n    global.set(\"emailActivated\",true);\n}\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1][0],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "aeb91bd4.0b16a8",
                "85fccb2.954a138"
            ]
        ]
    },
    {
        "id": "10942a59.6e918e",
        "type": "function",
        "z": "a89e17f9.2812b8",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "6f05140f.b89e64",
                "85fccb2.954a138"
            ]
        ]
    },
    {
        "id": "555ec78f.ce02a8",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 20,
        "wires": []
    },
    {
        "id": "aeb91bd4.0b16a8",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "b242a0a8.c3c55",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f05140f.b89e64",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "85fccb2.954a138",
        "type": "function",
        "z": "a89e17f9.2812b8",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    res.test=global.get(\"emailActivated\");\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "b2a01d39.f88818",
                "be702b50.ecaa2",
                "25d96aab.497a4e",
                "d101e3a9.f93e4"
            ]
        ]
    },
    {
        "id": "937d2068.0d7a38",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "e219f838.70c15",
        "type": "mqtt out",
        "z": "a89e17f9.2812b8",
        "name": "Emergency 1",
        "topic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1290,
        "y": 60,
        "wires": []
    },
    {
        "id": "4e989e0.28dd664",
        "type": "switch",
        "z": "a89e17f9.2812b8",
        "name": "Classify emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "e219f838.70c15",
                "937d2068.0d7a38"
            ],
            [
                "bf2056ac.18de4",
                "c7f36bba.ccc16"
            ],
            [
                "359a74df.56e80c",
                "42de6419.974404"
            ],
            [
                "9b64c21c.bf4038",
                "4297e062.df0228"
            ]
        ]
    },
    {
        "id": "bf2056ac.18de4",
        "type": "mqtt out",
        "z": "a89e17f9.2812b8",
        "name": "Emergency 2",
        "topic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1350,
        "y": 200,
        "wires": []
    },
    {
        "id": "c7f36bba.ccc16",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1420,
        "y": 260,
        "wires": []
    },
    {
        "id": "359a74df.56e80c",
        "type": "mqtt out",
        "z": "a89e17f9.2812b8",
        "name": "Emergency 3",
        "topic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "42de6419.974404",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "After Merge 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b64c21c.bf4038",
        "type": "mqtt out",
        "z": "a89e17f9.2812b8",
        "name": "Emergency 4",
        "topic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "4297e062.df0228",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "After Merge 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "b2a01d39.f88818",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "be702b50.ecaa2",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "6ead41a7.f9ac18",
        "type": "inject",
        "z": "a89e17f9.2812b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 20,
        "wires": [
            [
                "68d1d6a.d0e6328"
            ]
        ]
    },
    {
        "id": "68d1d6a.d0e6328",
        "type": "random",
        "z": "a89e17f9.2812b8",
        "name": "Random emergency",
        "low": "2",
        "high": "2",
        "inte": "true",
        "x": 260,
        "y": 20,
        "wires": [
            [
                "4d915945.7c3448"
            ]
        ]
    },
    {
        "id": "723b6165.18207",
        "type": "function",
        "z": "a89e17f9.2812b8",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "555ec78f.ce02a8",
                "91641914.440878"
            ]
        ]
    },
    {
        "id": "91641914.440878",
        "type": "switch",
        "z": "a89e17f9.2812b8",
        "name": "Is emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 60,
        "wires": [
            [
                "759e4887.50be98"
            ]
        ]
    },
    {
        "id": "4d915945.7c3448",
        "type": "function",
        "z": "a89e17f9.2812b8",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "723b6165.18207"
            ]
        ]
    },
    {
        "id": "5553a3ca.d38104",
        "type": "mqtt in",
        "z": "1370a681.d22b81",
        "name": "",
        "topic": "Centro/Toscana/2-5-3/claves",
        "qos": "0",
        "broker": "aeed959f.e3661",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "ad63aff6.6274d8",
                "211a8d62.6da79a"
            ]
        ]
    },
    {
        "id": "ad63aff6.6274d8",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "Virtual entity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "513e82b8.096694",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Verify arduino message",
        "func": "data=msg.payload.msg.split(\";\");\nlist=[\"NEW_PASSWORD\",\"CHANGE_PASSWORD\",\"DELETE_PASSWORD\",\"DELETE_ALL\"];\noperaciones=['POST','PUT','DELETE','DELETE'];\noperacion=operaciones[parseInt(data[0])-1];\nclave=\"\";\nnuevaClave=\"\";\nnumero=\"\";\nif(data.length>2)\n{\n    if(data[1].length<=2 &&data[2].length==4)\n    {\n        if(!isNaN(parseInt(data[1]))&&parseInt(data[1])<20 && !isNaN(parseInt(data[2])))\n        {\n            clave=data[2];\n            numero=data[1];\n            msg.pass=list[parseInt(data[0])-1]+\";\"+data[1]+\";\"+data[2];\n        }\n    }\n}\nelse if (data.length>1)\n{\n    if(!isNaN(parseInt(data[1]))&&parseInt(data[1])<20)\n        {\n            numero=data[1];\n            msg.pass=list[parseInt(data[0])-1]+\";\"+data[1];\n        }\n}\nelse\n{\n    if(parseInt(msg.payload.msg)===4)\n    {\n        msg.pass=list[parseInt(msg.payload.msg)-1]\n    }\n}\nglobal.set('arduinoPasswordPayload',msg.pass);\nmsg.payload={'usuario':msg.payload.usuario,'clave':clave,'numero':numero};\nmsg.method=operacion;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 140,
        "wires": [
            [
                "e3418d18.eef688",
                "7e66d958.20cd58"
            ]
        ]
    },
    {
        "id": "a7907e83.34f428",
        "type": "inject",
        "z": "1370a681.d22b81",
        "name": "INJECT PASSWORD CHANGE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "a8e909eb.ece9f"
            ]
        ]
    },
    {
        "id": "a8e909eb.ece9f",
        "type": "random",
        "z": "1370a681.d22b81",
        "name": "Random emergency",
        "low": "1",
        "high": "1",
        "inte": "true",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "5576cf18.8f226"
            ]
        ]
    },
    {
        "id": "4724d8c7.1655d8",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "Virtual mock",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "5576cf18.8f226",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Merge",
        "func": "num=parseInt(msg.payload);\nif (num==3)\n{\n    msg.payload=\"{\\\"msg\\\":\\\"\"+num+\";\"+\"01\\\",\\\"usuario\\\":\\\"sguzmanm\\\"}\";\n}\nelse if(num<4)\n{\n    msg.payload=\"{\\\"msg\\\":\\\"\"+num+\";\"+\"01\"+\";\"+\"5555\\\",\\\"usuario\\\":\\\"sguzmanm\\\"}\";\n}\nelse\n    msg.payload=\"{\\\"msg\\\":\\\"\"+num+\"\\\",\\\"usuario\\\":\\\"sguzmanm\\\"}\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "4724d8c7.1655d8",
                "211a8d62.6da79a"
            ]
        ]
    },
    {
        "id": "211a8d62.6da79a",
        "type": "json",
        "z": "1370a681.d22b81",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "73607419.4c4c9c"
            ]
        ]
    },
    {
        "id": "7e66d958.20cd58",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "Arduino message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac6a930a.1406f",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Reset Health Check",
        "func": "global.set(\"lastHealthCheck\",new Date());\nglobal.set(\"misses\",0);",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4205a07b.92774",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Format Time",
        "func": "\nif(typeof global.get(\"lastHealthCheck\")=='undefined')\n{\n    global.set(\"lastHealthCheck\",new Date());\n    msg.test2=\"ENTRA\";\n}\nif(isNaN(global.get(\"misses\")))\n{\n    global.set(\"misses\",0);\n}\n\nvar maxMisses=1;\nvar time=10000;\nvar last=global.get(\"lastHealthCheck\");\nmsg.flag=0;\n\nvar diffMs = (new Date() - last); // milliseconds between now & Christmas\n\nmsg.test=global.get(\"lastHealthCheck\")+\" \"+global.get(\"misses\")+\" \"+diffMs;\n\nif(diffMs>time)\n{\n    global.set(\"misses\",global.get(\"misses\")+1);\n}\nif(global.get(\"misses\")>maxMisses)\n{\n    msg.flag=1;\n    msg.headers={\"Content-Type\":\"application/json\"};\n    msg.payload={\n          \"remitente\":\"Hub007@yale\",\n          \"destinatarios\":[\n          {\n              \"correo\":\"js.diaz@uniandes.edu.co\"\n          },\n          {\n              \"correo\":\"ja.manrique@uniandes.edu.co\"\n          },\n          {\n              \"correo\":\"cm.sarmiento10@uniandes.edu.co\"\n          }\n          ],\n          \"asunto\":\"CERRADURA FUERA DE LNEA\",\n          \"cuerpo\":\"Arduino 007 no est en lnea\"\n     \n      };\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "2f4f6f60.6c412",
                "79ad2ff6.9a82e",
                "346005bc.e999d2",
                "a98a2390.8f5ec",
                "34c53cf4.e8e58c"
            ]
        ]
    },
    {
        "id": "18c60084.73335f",
        "type": "switch",
        "z": "58426af.59b8114",
        "name": "Is correct entry?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "ac6a930a.1406f",
                "1542f51b.110e0b"
            ]
        ]
    },
    {
        "id": "8c85fb0.6c2cd08",
        "type": "inject",
        "z": "58426af.59b8114",
        "name": "Healthcheck Verification",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "3270d6b9.b78d92",
                "4205a07b.92774"
            ]
        ]
    },
    {
        "id": "2f4f6f60.6c412",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "HC3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "b5449a6e.aa65e8",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "c81f508d.775e58",
                "18c60084.73335f"
            ]
        ]
    },
    {
        "id": "3270d6b9.b78d92",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "HC2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "c81f508d.775e58",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "FLAG1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "bb1aebf6.8017f",
        "type": "random",
        "z": "58426af.59b8114",
        "name": "Random emergency",
        "low": "5",
        "high": "5",
        "inte": "true",
        "x": 300,
        "y": 20,
        "wires": [
            [
                "6e7f5fc7.a033d"
            ]
        ]
    },
    {
        "id": "3c78c962.39cede",
        "type": "inject",
        "z": "58426af.59b8114",
        "name": "",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 20,
        "wires": [
            [
                "bb1aebf6.8017f"
            ]
        ]
    },
    {
        "id": "6e7f5fc7.a033d",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Put id",
        "func": "msg.payload=msg.payload+\"\\t3141\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "79ad2ff6.9a82e",
        "type": "switch",
        "z": "58426af.59b8114",
        "name": "Is emergency?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "b68b937e.5f3e48",
                "5d6de54e.b94b74"
            ]
        ]
    },
    {
        "id": "346005bc.e999d2",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "HC4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "b68b937e.5f3e48",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "HC5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "a98a2390.8f5ec",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "TEST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "34c53cf4.e8e58c",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "TEST2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test2",
        "x": 250,
        "y": 440,
        "wires": []
    },
    {
        "id": "e397d775.641b6",
        "type": "inject",
        "z": "f3168e7e.fe1238",
        "name": "TIME INTERVAL",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "50",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "3dbafc4b.9e2734"
            ]
        ]
    },
    {
        "id": "3dbafc4b.9e2734",
        "type": "function",
        "z": "f3168e7e.fe1238",
        "name": "HEALTHCHECK",
        "func": "msg.payload={\"Hub\":\"Hub007\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "7f97f934.da03c",
                "39a5921.63aac6e"
            ]
        ]
    },
    {
        "id": "1542f51b.110e0b",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "HC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa3e53c.1154b3",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "HCheck",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "8d22494d.836fa8",
        "type": "inject",
        "z": "b4a6d7e6.d7a68",
        "name": "ACEPTAR",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "1e0384d4.6adffb"
            ]
        ]
    },
    {
        "id": "1e0384d4.6adffb",
        "type": "function",
        "z": "b4a6d7e6.d7a68",
        "name": "GET MQTT MSG",
        "func": "msg.payload={\"clave\":\"5555\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "59d14ff4.2a7eb",
                "c4e629ec.5ac9b8"
            ]
        ]
    },
    {
        "id": "26d7e0d4.6a904",
        "type": "mqtt out",
        "z": "b4a6d7e6.d7a68",
        "name": "",
        "topic": "Arduino007.recibir",
        "qos": "",
        "retain": "",
        "broker": "aeed959f.e3661",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "4d6ac774.71f168",
        "type": "function",
        "z": "b4a6d7e6.d7a68",
        "name": "GET MQTT MSG",
        "func": "number=1\nif(number==0)\n    msg.payload=\"CERRAR\";\nelse\n    msg.payload=\"ABRIR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 640,
        "wires": [
            [
                "26d7e0d4.6a904",
                "7805ac6a.9b6204"
            ]
        ]
    },
    {
        "id": "9c83f17a.2e8688",
        "type": "inject",
        "z": "b4a6d7e6.d7a68",
        "name": "RECHAZAR",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "4d6ac774.71f168"
            ]
        ]
    },
    {
        "id": "1a822302.9f24e5",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Reinicio arduino",
        "func": "global.set(\"misses\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 260,
        "wires": [
            [
                "7e43f97c.843708"
            ]
        ]
    },
    {
        "id": "bc1c6823.cba6a",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Verify alarm message",
        "func": "if (msg.payload.msg==\"A\")\n    global.set(\"emailActivated\",true);\nelse if (msg.payload.msg==\"D\")\n    global.set(\"emailActivated\",false);\nmsg.payload=global.get(\"emailActivated\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "a7d38c01.70265"
            ]
        ]
    },
    {
        "id": "25d96aab.497a4e",
        "type": "switch",
        "z": "a89e17f9.2812b8",
        "name": "Email is activated?",
        "property": "emailActivated",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 160,
        "wires": [
            [
                "4e989e0.28dd664"
            ]
        ]
    },
    {
        "id": "a7d38c01.70265",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "GLOBAL EMAIL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "7bc79015.b8015",
        "type": "switch",
        "z": "1370a681.d22b81",
        "name": "Verify topic",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "513e82b8.096694"
            ],
            [
                "bc1c6823.cba6a"
            ]
        ]
    },
    {
        "id": "d101e3a9.f93e4",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "EMIAL IS ACTIVATED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "73607419.4c4c9c",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "PUT FLAG",
        "func": "msg.flag=0;\nindice=msg.payload.msg.split(\";\")[0];\nif(indice==\"A\" || indice==\"D\")\n    msg.flag=1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "7bc79015.b8015",
                "f6f8f4ca.905cc"
            ]
        ]
    },
    {
        "id": "f6f8f4ca.905cc",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "MSG FLAG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f97f934.da03c",
        "type": "debug",
        "z": "f3168e7e.fe1238",
        "name": "HUB HC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f0b8e8.3bd0d7",
        "type": "function",
        "z": "b4a6d7e6.d7a68",
        "name": "GET MQTT MSG",
        "func": "res={};\nres.payload=\"CERRAR\";\nmsg.test=global.get(\"Timeout\");\nvar last=global.get(\"arduinoRequestDate\");\nvar time=global.get(\"arduinoTimeout\");\nvar diffMs = (new Date() - last); // milliseconds between now & Christmas\nif(msg.statusCode==200 && diffMs<=time)\n{\n    res.payload=\"ABRIR\";\n    global.set(\"arduinoState\",\"open\")\n}\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "ff9b60e6.e34998",
                "532df192.590108"
            ]
        ]
    },
    {
        "id": "ff9b60e6.e34998",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "MSG RESULT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "81f7216e.ca95a8",
        "type": "function",
        "z": "b4a6d7e6.d7a68",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\";\nvar conjunto=\"Toscana\";\nvar zona=\"Centro\"\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"entryHub\";\nres.payload = {};\nres.payload={\"clave\":tempArray[3].split('\\r')[0]};\nglobal.set(\"arduinoTimeout\",tempArray[2]);\nglobal.set(\"arduinoRequestDate\",new Date());\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "80ede2d.59fbda",
                "cc9fbf74.5250a8"
            ]
        ]
    },
    {
        "id": "80ede2d.59fbda",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "40b14492.2c0fb4",
        "type": "switch",
        "z": "b4a6d7e6.d7a68",
        "name": "Is correct entry?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "81f7216e.ca95a8"
            ]
        ]
    },
    {
        "id": "245cfb72.1e73b4",
        "type": "function",
        "z": "b4a6d7e6.d7a68",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "40b14492.2c0fb4",
                "9c3ec4cf.7f173"
            ]
        ]
    },
    {
        "id": "9c3ec4cf.7f173",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "cd673fac.280538",
        "type": "mqtt in",
        "z": "b4a6d7e6.d7a68",
        "name": "",
        "topic": "Arduino007.envio",
        "qos": "0",
        "broker": "aeed959f.e3661",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "245cfb72.1e73b4",
                "c3b45b86.0083d"
            ]
        ]
    },
    {
        "id": "cb23fd1d.350bb8",
        "type": "function",
        "z": "b4a6d7e6.d7a68",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload+\"\\t\"+5000+\"\\t\"+5555;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "245cfb72.1e73b4"
            ]
        ]
    },
    {
        "id": "c3b45b86.0083d",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "HOLA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "87c7c7ee.12bc88",
        "type": "random",
        "z": "b4a6d7e6.d7a68",
        "name": "Random emergency",
        "low": "0",
        "high": "0",
        "inte": "true",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "cb23fd1d.350bb8"
            ]
        ]
    },
    {
        "id": "fff7ec3f.481bc",
        "type": "inject",
        "z": "b4a6d7e6.d7a68",
        "name": "",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "87c7c7ee.12bc88"
            ]
        ]
    },
    {
        "id": "7e43f97c.843708",
        "type": "mqtt out",
        "z": "58426af.59b8114",
        "name": "",
        "topic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "qos": "",
        "retain": "",
        "broker": "aeed959f.e3661",
        "x": 1890,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d6de54e.b94b74",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n\n\nres.topic = \"failureHub\";\nres.payload = {};\n\nres.payload = {\"id\": \"Arduino007\", \"fallo\":\"1\",\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "9ec23359.fb0838",
                "38753e0a.d7b6e2"
            ]
        ]
    },
    {
        "id": "9ec23359.fb0838",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"failureTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"failureHub\":\n        context.data.failure = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.failure != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"failureHub\";\n    context.data = null;\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 440,
        "wires": [
            [
                "1a822302.9f24e5",
                "bd0e28d3.0b188"
            ]
        ]
    },
    {
        "id": "d66edf38.9fbe78",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 560,
        "wires": []
    },
    {
        "id": "daa37f2f.7dffe",
        "type": "function",
        "z": "58426af.59b8114",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "d66edf38.9fbe78",
                "9ec23359.fb0838"
            ]
        ]
    },
    {
        "id": "b1c4cfe0.23f708",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 480,
        "wires": []
    },
    {
        "id": "5d8f8531.bcdc2c",
        "type": "inject",
        "z": "58426af.59b8114",
        "name": "Send Time",
        "topic": "failureTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "b1c4cfe0.23f708",
                "daa37f2f.7dffe"
            ]
        ]
    },
    {
        "id": "bd0e28d3.0b188",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "MENSAJE SPEED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1700,
        "y": 520,
        "wires": []
    },
    {
        "id": "38753e0a.d7b6e2",
        "type": "debug",
        "z": "58426af.59b8114",
        "name": "POST FORMAT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1310,
        "y": 300,
        "wires": []
    },
    {
        "id": "39a5921.63aac6e",
        "type": "mqtt out",
        "z": "f3168e7e.fe1238",
        "name": "",
        "topic": "Centro/Toscana/hub/2-5-3",
        "qos": "0",
        "retain": "",
        "broker": "aeed959f.e3661",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "ce1a14fb.196708",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "BD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "59d14ff4.2a7eb",
        "type": "http request",
        "z": "b4a6d7e6.d7a68",
        "name": "POST",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:8080/arduinoAccess",
        "tls": "",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "75a3de1.732c8a"
            ]
        ]
    },
    {
        "id": "75a3de1.732c8a",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "c4e629ec.5ac9b8",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "cc9fbf74.5250a8",
        "type": "http request",
        "z": "b4a6d7e6.d7a68",
        "name": "POST",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:8080/arduinoAccess",
        "tls": "",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "7f0b8e8.3bd0d7",
                "d76ec402.4ac088"
            ]
        ]
    },
    {
        "id": "e787639.59e242",
        "type": "inject",
        "z": "1370a681.d22b81",
        "name": "ENABLE ALARMS",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "A",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "8924dfc5.96d2d"
            ]
        ]
    },
    {
        "id": "8924dfc5.96d2d",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Merge",
        "func": "   msg.payload=\"{\\\"msg\\\":\\\"\"+msg.payload+\"\\\"}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "4c6f06e8.079118",
                "73607419.4c4c9c"
            ]
        ]
    },
    {
        "id": "4c6f06e8.079118",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "Virtual ENABLE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "e3418d18.eef688",
        "type": "http request",
        "z": "1370a681.d22b81",
        "name": "COM",
        "method": "use",
        "ret": "txt",
        "url": "localhost:8080/passwordAccess",
        "tls": "",
        "x": 1150,
        "y": 180,
        "wires": [
            [
                "7a729c84.d367ac",
                "88799b2b.6a5f88"
            ]
        ]
    },
    {
        "id": "e50f189.a1cf368",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "GET MQTT MSG",
        "func": "msg.payload=global.get('arduinoPasswordPayload');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 120,
        "wires": [
            [
                "70cef6fd.329468",
                "26b60a71.0da36e",
                "dc088460.82bce8"
            ]
        ]
    },
    {
        "id": "70cef6fd.329468",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "FINAL RESULT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1540,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a729c84.d367ac",
        "type": "switch",
        "z": "1370a681.d22b81",
        "name": "SUCCESSFUL",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1330,
        "y": 200,
        "wires": [
            [
                "e50f189.a1cf368"
            ]
        ]
    },
    {
        "id": "88799b2b.6a5f88",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "PASSWORD RESPONSE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 1440,
        "y": 300,
        "wires": []
    },
    {
        "id": "d76ec402.4ac088",
        "type": "debug",
        "z": "b4a6d7e6.d7a68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "e8200d9e.cc3638",
        "type": "mqtt in",
        "z": "1370a681.d22b81",
        "name": "Centro/Toscana/2-5-3/horarios",
        "topic": "Centro/Toscana/2-5-3/horarios",
        "qos": "0",
        "broker": "aeed959f.e3661",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "bd964f0.7ff26b"
            ]
        ]
    },
    {
        "id": "bd964f0.7ff26b",
        "type": "json",
        "z": "1370a681.d22b81",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 400,
        "y": 740,
        "wires": [
            [
                "67aa7418.2bb814"
            ]
        ]
    },
    {
        "id": "7242fcca.febdf4",
        "type": "inject",
        "z": "1370a681.d22b81",
        "name": "DISABLE ALARMS",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "D",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "dfef4265.2e85f"
            ]
        ]
    },
    {
        "id": "dfef4265.2e85f",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Merge",
        "func": "   msg.payload=\"{\\\"msg\\\":\\\"\"+msg.payload+\"\\\"}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "32587ef.c1f6782",
                "73607419.4c4c9c"
            ]
        ]
    },
    {
        "id": "32587ef.c1f6782",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "Virtual DISABLE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "e78f6ea4.39cba8",
        "type": "inject",
        "z": "1370a681.d22b81",
        "name": "CREATE SCHEDULE",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "dcc72e0d.ac44c"
            ]
        ]
    },
    {
        "id": "dcc72e0d.ac44c",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Merge",
        "func": "\nmsg.payload={horaInicio:\"13:50\",horaFin:\"14:00\",usuario:\"sguzmanm\",\"nuevoInicio\":\"13:50\",nuevoFin:\"18:00\",operacion:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 820,
        "wires": [
            [
                "67aa7418.2bb814"
            ]
        ]
    },
    {
        "id": "67aa7418.2bb814",
        "type": "function",
        "z": "1370a681.d22b81",
        "name": "Verify arduino message",
        "func": "operaciones=['POST','PUT','DELETE'];\nmsg.method=operaciones[msg.payload.operacion-1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "959e78af.b02aa8"
            ]
        ]
    },
    {
        "id": "959e78af.b02aa8",
        "type": "http request",
        "z": "1370a681.d22b81",
        "name": "COM",
        "method": "use",
        "ret": "txt",
        "url": "localhost:8080/scheduleAccess",
        "tls": "",
        "x": 810,
        "y": 780,
        "wires": [
            [
                "3a392481.8096dc"
            ]
        ]
    },
    {
        "id": "3a392481.8096dc",
        "type": "debug",
        "z": "1370a681.d22b81",
        "name": "SCHEDULE RESPONSE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 1000,
        "y": 780,
        "wires": []
    },
    {
        "id": "fd7ef70e.20158",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "e80fb04.4bae3d",
                "3da439b0.ab959e"
            ]
        ]
    },
    {
        "id": "838f8c5a.78b108",
        "type": "inject",
        "z": "49ec064d.4a2bf8",
        "name": "Send Time",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "efda703b.823a9",
                "fd7ef70e.20158"
            ]
        ]
    },
    {
        "id": "e80fb04.4bae3d",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "3da439b0.ab959e",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    res.test=global.get(\"emailActivated\");\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "177e8066.cc3b7",
                "450d0631.5699b8",
                "2fa8fce6.7934fc"
            ]
        ]
    },
    {
        "id": "efda703b.823a9",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "d8903f93.b44d2",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-503\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n//Set the alarm sending to true by default\nif(typeof global.get(\"emailActivated\")=='undefined')\n{\n    global.set(\"emailActivated\",true);\n}\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1][0],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "7af52469.a7853c",
                "3da439b0.ab959e"
            ]
        ]
    },
    {
        "id": "177e8066.cc3b7",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "450d0631.5699b8",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "7af52469.a7853c",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "2fa8fce6.7934fc",
        "type": "switch",
        "z": "49ec064d.4a2bf8",
        "name": "Classify emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "4261458e.56c914",
                "f4f7d256.7135"
            ],
            [
                "6a6df40f.72dbac",
                "a316c6ea.dc9918"
            ],
            [
                "2f8f8d97.8060ba",
                "3641191c.de952e"
            ],
            [
                "d02fe418.31a57",
                "d697eb1.fb1ed98"
            ]
        ]
    },
    {
        "id": "de08fae0.4cabd8",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "389ed0bb.8f60a8",
                "d8903f93.b44d2"
            ]
        ]
    },
    {
        "id": "4261458e.56c914",
        "type": "mqtt out",
        "z": "49ec064d.4a2bf8",
        "name": "Emergency 1",
        "topic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "f4f7d256.7135",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1300,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a6df40f.72dbac",
        "type": "mqtt out",
        "z": "49ec064d.4a2bf8",
        "name": "Emergency 2",
        "topic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "a316c6ea.dc9918",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1380,
        "y": 300,
        "wires": []
    },
    {
        "id": "2f8f8d97.8060ba",
        "type": "mqtt out",
        "z": "49ec064d.4a2bf8",
        "name": "Emergency 3",
        "topic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "3641191c.de952e",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Merge 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "d02fe418.31a57",
        "type": "mqtt out",
        "z": "49ec064d.4a2bf8",
        "name": "Emergency 4",
        "topic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "d697eb1.fb1ed98",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Merge 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "389ed0bb.8f60a8",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "65d2a2de.12ef04",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "de08fae0.4cabd8"
            ]
        ]
    },
    {
        "id": "b58fb09.b155f5",
        "type": "random",
        "z": "49ec064d.4a2bf8",
        "name": "Random emergency",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "65d2a2de.12ef04"
            ]
        ]
    },
    {
        "id": "37aeaf26.e13548",
        "type": "inject",
        "z": "49ec064d.4a2bf8",
        "name": "INTERVALO DE EMERGENCIAS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "b58fb09.b155f5"
            ]
        ]
    },
    {
        "id": "b69ad185.0a9e1",
        "type": "mqtt out",
        "z": "49ec064d.4a2bf8",
        "name": "Failure 1",
        "topic": "Centro/Toscana/emergencia/cerraduraFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1440,
        "y": 560,
        "wires": []
    },
    {
        "id": "53648935.91d55",
        "type": "switch",
        "z": "49ec064d.4a2bf8",
        "name": "Classify failure",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "b69ad185.0a9e1",
                "5db929f6.c9a39"
            ],
            [
                "b355af50.99b35",
                "50ff3433.3ee53c"
            ]
        ]
    },
    {
        "id": "5db929f6.c9a39",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1480,
        "y": 660,
        "wires": []
    },
    {
        "id": "b355af50.99b35",
        "type": "mqtt out",
        "z": "49ec064d.4a2bf8",
        "name": "Failure 2",
        "topic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "aeed959f.e3661",
        "x": 1460,
        "y": 720,
        "wires": []
    },
    {
        "id": "50ff3433.3ee53c",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 780,
        "wires": []
    },
    {
        "id": "75a62c76.ef6ae4",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"failureTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"failureHub\":\n        context.data.failure = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.failure != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"failureHub\";\n    context.data = null;\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 680,
        "wires": [
            [
                "652cc5b7.10b58c",
                "fb189449.5e233",
                "53648935.91d55"
            ]
        ]
    },
    {
        "id": "1d703b6c.5f73ed",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload =msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "200be468.900d84",
                "75a62c76.ef6ae4"
            ]
        ]
    },
    {
        "id": "652cc5b7.10b58c",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "fb189449.5e233",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "be58f5a3.bb66b8",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n\n\nres.topic = \"failureHub\";\nres.payload = {};\n\nres.payload = {\"id\": \"Arduino007\", \"fallo\":\"1\",\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "5cc86c9b.d03f9c",
                "75a62c76.ef6ae4"
            ]
        ]
    },
    {
        "id": "200be468.900d84",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "4aa2058e.ddbda4",
        "type": "inject",
        "z": "49ec064d.4a2bf8",
        "name": "Send Time",
        "topic": "failureTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "4e857f87.eacbe",
                "1d703b6c.5f73ed"
            ]
        ]
    },
    {
        "id": "5cc86c9b.d03f9c",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "4e857f87.eacbe",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "c3ef3e45.271ca",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "3945192d.8e423e",
                "be58f5a3.bb66b8"
            ]
        ]
    },
    {
        "id": "3945192d.8e423e",
        "type": "debug",
        "z": "49ec064d.4a2bf8",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "1119368c.c00ac1",
        "type": "function",
        "z": "49ec064d.4a2bf8",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "c3ef3e45.271ca"
            ]
        ]
    },
    {
        "id": "40ba3b97.d7f35c",
        "type": "random",
        "z": "49ec064d.4a2bf8",
        "name": "Random failure",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "1119368c.c00ac1"
            ]
        ]
    },
    {
        "id": "e80a1d7f.e2a73",
        "type": "inject",
        "z": "49ec064d.4a2bf8",
        "name": "INTERVALO DE FALLOS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "40ba3b97.d7f35c"
            ]
        ]
    },
    {
        "id": "8bcd1738.5cf4b",
        "type": "comment",
        "z": "49ec064d.4a2bf8",
        "name": "CONFIGURAR TIEMPOS",
        "info": "Agregar el tiempo entre emergencias y fallos en los nodos de intervalo",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "e62818be.069e98",
        "type": "inject",
        "z": "c13e6009.01d55",
        "name": "",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "f5dab3e8.3b30e"
            ]
        ]
    },
    {
        "id": "f5dab3e8.3b30e",
        "type": "random",
        "z": "c13e6009.01d55",
        "name": "Random emergency",
        "low": "6",
        "high": "6",
        "inte": "true",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "ace50024.70408"
            ]
        ]
    },
    {
        "id": "ace50024.70408",
        "type": "function",
        "z": "c13e6009.01d55",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "5b519142.5640f"
            ]
        ]
    },
    {
        "id": "5b519142.5640f",
        "type": "function",
        "z": "c13e6009.01d55",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "67c5f918.c451c8",
                "7a60c5ba.196ec4",
                "76cce866.962f28"
            ]
        ]
    },
    {
        "id": "939ff56f.40c188",
        "type": "mqtt in",
        "z": "c13e6009.01d55",
        "name": "",
        "topic": "Arduino007.envio",
        "qos": "0",
        "broker": "aeed959f.e3661",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "5b519142.5640f",
                "d7826245.52c308"
            ]
        ]
    },
    {
        "id": "d7826245.52c308",
        "type": "debug",
        "z": "c13e6009.01d55",
        "name": "HOLA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 270,
        "y": 240,
        "wires": []
    },
    {
        "id": "7a60c5ba.196ec4",
        "type": "debug",
        "z": "c13e6009.01d55",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "67c5f918.c451c8",
        "type": "switch",
        "z": "c13e6009.01d55",
        "name": "Is correct entry?",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "f05d381.ed0e448"
            ]
        ]
    },
    {
        "id": "f05d381.ed0e448",
        "type": "function",
        "z": "c13e6009.01d55",
        "name": "Format Physical Entity",
        "func": "global.set(\"arduinoState\",\"closed\");\nmsg.test=global.get(\"arduinoState\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "f0bf8576.d18358"
            ]
        ]
    },
    {
        "id": "3c4d800d.dfbdd",
        "type": "inject",
        "z": "c13e6009.01d55",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "ed5f12d3.42af88"
            ]
        ]
    },
    {
        "id": "ed5f12d3.42af88",
        "type": "function",
        "z": "c13e6009.01d55",
        "name": "GET ARDUINO STATE",
        "func": "if(global.get(\"arduinoState\")==null)\n    global.set(\"arduinoState\",\"open\");\nmsg.payload=global.get(\"arduinoState\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "6c61ec5e.934b64"
            ]
        ]
    },
    {
        "id": "b3c49c0d.aae4a",
        "type": "inject",
        "z": "415fff6d.5e95c",
        "name": "Open lock",
        "topic": "s.guzmanm@uniandes.edu.co",
        "payload": "ABRIR",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 100,
        "wires": [
            [
                "35990b2.8db23f4"
            ]
        ]
    },
    {
        "id": "404aa5e7.5398d4",
        "type": "inject",
        "z": "415fff6d.5e95c",
        "name": "Close lock",
        "topic": "",
        "payload": "CERRAR",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "d5dad18f.54dbe8"
            ]
        ]
    },
    {
        "id": "35990b2.8db23f4",
        "type": "function",
        "z": "415fff6d.5e95c",
        "name": "Set global variable",
        "func": "global.set(\"arduinoState\",\"open\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "ec235c7a.1c986",
                "5eacef7d.6409f8"
            ]
        ]
    },
    {
        "id": "d5dad18f.54dbe8",
        "type": "function",
        "z": "415fff6d.5e95c",
        "name": "Set global variable",
        "func": "global.set(\"arduinoState\",\"closed\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "ec235c7a.1c986",
                "2c3de2a5.8a1e86"
            ]
        ]
    },
    {
        "id": "ec235c7a.1c986",
        "type": "mqtt out",
        "z": "415fff6d.5e95c",
        "name": "Arduino007.recibir",
        "topic": "Arduino007.recibir",
        "qos": "",
        "retain": "",
        "broker": "aeed959f.e3661",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "5eacef7d.6409f8",
        "type": "debug",
        "z": "415fff6d.5e95c",
        "name": "Open message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "2c3de2a5.8a1e86",
        "type": "debug",
        "z": "415fff6d.5e95c",
        "name": "Close message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "6c61ec5e.934b64",
        "type": "debug",
        "z": "c13e6009.01d55",
        "name": "ARDUINO STATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0bf8576.d18358",
        "type": "debug",
        "z": "c13e6009.01d55",
        "name": "ARDUINO STATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "test",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "76cce866.962f28",
        "type": "debug",
        "z": "c13e6009.01d55",
        "name": "FLAG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "cbfa600e.c7799",
        "type": "debug",
        "z": "a89e17f9.2812b8",
        "name": "ENTRADA CERRADURA YALE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 190,
        "y": 300,
        "wires": []
    },
    {
        "id": "870a50f6.ccac1",
        "type": "mqtt in",
        "z": "a89e17f9.2812b8",
        "name": "",
        "topic": "Arduino007.envio",
        "qos": "0",
        "broker": "aeed959f.e3661",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "723b6165.18207",
                "cbfa600e.c7799"
            ]
        ]
    },
    {
        "id": "3645f77d.36f83",
        "type": "serial in",
        "z": "a89e17f9.2812b8",
        "name": "CONN SERIAL ARDUINO",
        "serial": "697bd1b2.a1c2c",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "723b6165.18207"
            ]
        ]
    },
    {
        "id": "26b60a71.0da36e",
        "type": "serial out",
        "z": "1370a681.d22b81",
        "name": "SERIAL OUTPUT ARDUINO",
        "serial": "697bd1b2.a1c2c",
        "x": 1670,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef7fc066.e7cda",
        "type": "serial in",
        "z": "58426af.59b8114",
        "name": "ARDUINO SERIAL INPUT",
        "serial": "697bd1b2.a1c2c",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b5449a6e.aa65e8",
                "fa3e53c.1154b3"
            ]
        ]
    },
    {
        "id": "69ceb44f.08caf4",
        "type": "serial in",
        "z": "b4a6d7e6.d7a68",
        "name": "arduino serial input",
        "serial": "697bd1b2.a1c2c",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "245cfb72.1e73b4"
            ]
        ]
    },
    {
        "id": "532df192.590108",
        "type": "serial out",
        "z": "b4a6d7e6.d7a68",
        "name": "ARDUINO SERIAL OUTPUT",
        "serial": "697bd1b2.a1c2c",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "7805ac6a.9b6204",
        "type": "serial out",
        "z": "b4a6d7e6.d7a68",
        "name": "ARDUINO SERIAL OUTPUT",
        "serial": "697bd1b2.a1c2c",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "dc088460.82bce8",
        "type": "mqtt out",
        "z": "1370a681.d22b81",
        "name": "",
        "topic": "Arduino007.recibir",
        "qos": "",
        "retain": "",
        "broker": "aeed959f.e3661",
        "x": 1680,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed82857.36fb778",
        "type": "mqtt in",
        "z": "415fff6d.5e95c",
        "name": "RECIBIR",
        "topic": "Arduino007.recibir",
        "qos": "0",
        "broker": "aeed959f.e3661",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "8a537e6e.90172"
            ]
        ]
    },
    {
        "id": "8a537e6e.90172",
        "type": "debug",
        "z": "415fff6d.5e95c",
        "name": "RECIBIR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 270,
        "y": 340,
        "wires": []
    }
]