entidadVirtual/Hub/securityTest.json
[
    {
        "id": "2dff75f6.78347a",
        "type": "tab",
        "label": "Speed Security Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98589edb.95d07",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "9d62d26a.81724",
                "2ab7ac48.ad1e24"
            ]
        ]
    },
    {
        "id": "83be3bd9.4c4158",
        "type": "inject",
        "z": "2dff75f6.78347a",
        "name": "Send Time",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "88f697fe.9b5dc8",
                "98589edb.95d07"
            ]
        ]
    },
    {
        "id": "9d62d26a.81724",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "2ab7ac48.ad1e24",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    res.test=global.get(\"emailActivated\");\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "1edf82d4.84110d",
                "310003c6.4fa79c",
                "7448a598.1bd5ec"
            ]
        ]
    },
    {
        "id": "88f697fe.9b5dc8",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "453b2ff6.f0c4f",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-503\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n//Set the alarm sending to true by default\nif(typeof global.get(\"emailActivated\")=='undefined')\n{\n    global.set(\"emailActivated\",true);\n}\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1][0],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "3ece6a26.9b5876",
                "2ab7ac48.ad1e24"
            ]
        ]
    },
    {
        "id": "1edf82d4.84110d",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "310003c6.4fa79c",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "3ece6a26.9b5876",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "7448a598.1bd5ec",
        "type": "switch",
        "z": "2dff75f6.78347a",
        "name": "Classify emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "2f8b3e12.90c4f2",
                "2378cef6.0b5c12"
            ],
            [
                "1c50163.5f74fea",
                "c1eb8c4c.e1ea1"
            ],
            [
                "7152a2a6.d310cc",
                "ee95d67f.6213d8"
            ],
            [
                "cd6dd69e.28fec8",
                "f798ca10.2e87f8"
            ]
        ]
    },
    {
        "id": "887066c1.0f9ac8",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "be201a81.12a7d8",
                "453b2ff6.f0c4f"
            ]
        ]
    },
    {
        "id": "2f8b3e12.90c4f2",
        "type": "mqtt out",
        "z": "2dff75f6.78347a",
        "name": "Emergency 1",
        "topic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "66020ec3.36326",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "2378cef6.0b5c12",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1300,
        "y": 180,
        "wires": []
    },
    {
        "id": "1c50163.5f74fea",
        "type": "mqtt out",
        "z": "2dff75f6.78347a",
        "name": "Emergency 2",
        "topic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "6bf30e21.7143f",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "c1eb8c4c.e1ea1",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1380,
        "y": 300,
        "wires": []
    },
    {
        "id": "7152a2a6.d310cc",
        "type": "mqtt out",
        "z": "2dff75f6.78347a",
        "name": "Emergency 3",
        "topic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "dec95f12.953088",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee95d67f.6213d8",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Merge 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "cd6dd69e.28fec8",
        "type": "mqtt out",
        "z": "2dff75f6.78347a",
        "name": "Emergency 4",
        "topic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "d61fe174.7f0c2",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "f798ca10.2e87f8",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Merge 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "be201a81.12a7d8",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "f752d0aa.91655",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "887066c1.0f9ac8"
            ]
        ]
    },
    {
        "id": "fe005297.a1b48",
        "type": "random",
        "z": "2dff75f6.78347a",
        "name": "Random emergency",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "f752d0aa.91655"
            ]
        ]
    },
    {
        "id": "d7634c62.5b426",
        "type": "inject",
        "z": "2dff75f6.78347a",
        "name": "INTERVALO DE EMERGENCIAS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "fe005297.a1b48"
            ]
        ]
    },
    {
        "id": "488682c0.9e8b8c",
        "type": "mqtt out",
        "z": "2dff75f6.78347a",
        "name": "Failure 1",
        "topic": "Centro/Toscana/emergencia/cerraduraFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "fd5fe0d5.a2ccd",
        "x": 1440,
        "y": 560,
        "wires": []
    },
    {
        "id": "6e044bb4.888dc4",
        "type": "switch",
        "z": "2dff75f6.78347a",
        "name": "Classify failure",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "488682c0.9e8b8c",
                "9b981931.e86458"
            ],
            [
                "626ffa69.a922a4",
                "14f1bd76.3e55c3"
            ]
        ]
    },
    {
        "id": "9b981931.e86458",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1480,
        "y": 660,
        "wires": []
    },
    {
        "id": "626ffa69.a922a4",
        "type": "mqtt out",
        "z": "2dff75f6.78347a",
        "name": "Failure 2",
        "topic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "f342dd7f.73d4d",
        "x": 1460,
        "y": 720,
        "wires": []
    },
    {
        "id": "14f1bd76.3e55c3",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 780,
        "wires": []
    },
    {
        "id": "1dd8bdf6.67acb2",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"failureTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"failureHub\":\n        context.data.failure = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.failure != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"failureHub\";\n    context.data = null;\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 680,
        "wires": [
            [
                "382fe5ac.338f9a",
                "10c517be.26fdf8",
                "6e044bb4.888dc4"
            ]
        ]
    },
    {
        "id": "44a278a1.f7ffd8",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "693ddab3.c8abd4",
                "1dd8bdf6.67acb2"
            ]
        ]
    },
    {
        "id": "382fe5ac.338f9a",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "10c517be.26fdf8",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "2fa2ef9b.32df8",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n\n\nres.topic = \"failureHub\";\nres.payload = {};\n\nres.payload = {\"id\": \"Arduino007\", \"fallo\":\"1\",\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "241cd993.9a8a56",
                "1dd8bdf6.67acb2"
            ]
        ]
    },
    {
        "id": "693ddab3.c8abd4",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "c7960122.3f878",
        "type": "inject",
        "z": "2dff75f6.78347a",
        "name": "Send Time",
        "topic": "failureTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "e0dc4a5f.f926e8",
                "44a278a1.f7ffd8"
            ]
        ]
    },
    {
        "id": "241cd993.9a8a56",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0dc4a5f.f926e8",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "39f30fde.d76cb",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "67a3d221.6938ec",
                "2fa2ef9b.32df8"
            ]
        ]
    },
    {
        "id": "67a3d221.6938ec",
        "type": "debug",
        "z": "2dff75f6.78347a",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "6230e316.12ba4c",
        "type": "function",
        "z": "2dff75f6.78347a",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "39f30fde.d76cb"
            ]
        ]
    },
    {
        "id": "1ff4804.0b3a98",
        "type": "random",
        "z": "2dff75f6.78347a",
        "name": "Random failure",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "6230e316.12ba4c"
            ]
        ]
    },
    {
        "id": "11fc078.8ade2f9",
        "type": "inject",
        "z": "2dff75f6.78347a",
        "name": "INTERVALO DE FALLOS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "1ff4804.0b3a98"
            ]
        ]
    },
    {
        "id": "4dd8666e.4b50f8",
        "type": "comment",
        "z": "2dff75f6.78347a",
        "name": "CONFIGURAR TIEMPOS",
        "info": "Agregar el tiempo entre emergencias y fallos en los nodos de intervalo",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "66020ec3.36326",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6bf30e21.7143f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dec95f12.953088",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d61fe174.7f0c2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "fd5fe0d5.a2ccd",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f342dd7f.73d4d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b43d730.8b5731",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    }
]