entidadVirtual/Hub/securityTest.json
[
    {
        "id": "88c38d3c.905cf",
        "type": "tab",
        "label": "Speed Security Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8984244.7f2dd",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "f8cb9474.cddb18",
                "fb3973c8.b437d"
            ]
        ]
    },
    {
        "id": "1cdd2dd5.a6c872",
        "type": "inject",
        "z": "88c38d3c.905cf",
        "name": "Send Time",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "98cff4dc.2b0c88",
                "e8984244.7f2dd"
            ]
        ]
    },
    {
        "id": "f8cb9474.cddb18",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "fb3973c8.b437d",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    res.test=global.get(\"emailActivated\");\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "83807070.06876",
                "7d6748c2.a30338",
                "a9ab631d.8d012"
            ]
        ]
    },
    {
        "id": "98cff4dc.2b0c88",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "671e4bdf.74f8b4",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-503\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n//Set the alarm sending to true by default\nif(typeof global.get(\"emailActivated\")=='undefined')\n{\n    global.set(\"emailActivated\",true);\n}\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1][0],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "bc02066b.872578",
                "fb3973c8.b437d"
            ]
        ]
    },
    {
        "id": "83807070.06876",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "7d6748c2.a30338",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "bc02066b.872578",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "a9ab631d.8d012",
        "type": "switch",
        "z": "88c38d3c.905cf",
        "name": "Classify emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "868c8d09.da132",
                "8df7947c.a5d238"
            ],
            [
                "ac836ab2.feea98",
                "b798a518.495678"
            ],
            [
                "b80c9966.dd1e28",
                "d31073aa.752bc"
            ],
            [
                "edcf9d9f.8d151",
                "d2ee2f65.ff5fa"
            ]
        ]
    },
    {
        "id": "b259c974.de1798",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "244ae673.82135a",
                "671e4bdf.74f8b4"
            ]
        ]
    },
    {
        "id": "868c8d09.da132",
        "type": "mqtt out",
        "z": "88c38d3c.905cf",
        "name": "Emergency 1",
        "topic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "80eae236.ff49e",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "8df7947c.a5d238",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1300,
        "y": 180,
        "wires": []
    },
    {
        "id": "ac836ab2.feea98",
        "type": "mqtt out",
        "z": "88c38d3c.905cf",
        "name": "Emergency 2",
        "topic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "db7955e7.ca98c8",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "b798a518.495678",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1380,
        "y": 300,
        "wires": []
    },
    {
        "id": "b80c9966.dd1e28",
        "type": "mqtt out",
        "z": "88c38d3c.905cf",
        "name": "Emergency 3",
        "topic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "b64f24c7.115168",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "d31073aa.752bc",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Merge 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "edcf9d9f.8d151",
        "type": "mqtt out",
        "z": "88c38d3c.905cf",
        "name": "Emergency 4",
        "topic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "5c10e8f2.fa6628",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "d2ee2f65.ff5fa",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Merge 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "244ae673.82135a",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c809bc6.355bd4",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "b259c974.de1798"
            ]
        ]
    },
    {
        "id": "9f9d98b4.36ab28",
        "type": "random",
        "z": "88c38d3c.905cf",
        "name": "Random emergency",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "5c809bc6.355bd4"
            ]
        ]
    },
    {
        "id": "235d79c4.ae0616",
        "type": "inject",
        "z": "88c38d3c.905cf",
        "name": "INTERVALO DE EMERGENCIAS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "9f9d98b4.36ab28"
            ]
        ]
    },
    {
        "id": "58b60fc8.518f",
        "type": "mqtt out",
        "z": "88c38d3c.905cf",
        "name": "Failure 1",
        "topic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "7b05a6a6.4b5db8",
        "x": 1440,
        "y": 560,
        "wires": []
    },
    {
        "id": "f822dc76.f755c",
        "type": "switch",
        "z": "88c38d3c.905cf",
        "name": "Classify failure",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "58b60fc8.518f",
                "f77c3532.445ed8"
            ],
            [
                "4be4776d.0fdcf8",
                "dd9d6b3b.50d7d8"
            ]
        ]
    },
    {
        "id": "f77c3532.445ed8",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1480,
        "y": 660,
        "wires": []
    },
    {
        "id": "4be4776d.0fdcf8",
        "type": "mqtt out",
        "z": "88c38d3c.905cf",
        "name": "Failure 2",
        "topic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "4846e18e.fd9fc",
        "x": 1460,
        "y": 720,
        "wires": []
    },
    {
        "id": "dd9d6b3b.50d7d8",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 780,
        "wires": []
    },
    {
        "id": "620699d0.430148",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"failureTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"failureHub\":\n        context.data.failure = msg.payload;\n        context.flag=msg.flag;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.failure != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"failureHub\";\n    res.flag=context.flag;\n    context.data = null;\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 680,
        "wires": [
            [
                "3fc0461.1cc6cba",
                "e1b0e7fd.e954b8",
                "f822dc76.f755c"
            ]
        ]
    },
    {
        "id": "1b87f02b.95aba",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "b010d7.3e3fcf28",
                "620699d0.430148"
            ]
        ]
    },
    {
        "id": "3fc0461.1cc6cba",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Flag Failure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "e1b0e7fd.e954b8",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Merge failure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 890,
        "y": 540,
        "wires": []
    },
    {
        "id": "1c253c82.95c2f3",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n\n\nres.topic = \"failureHub\";\nres.payload = {};\n\nres.payload = {\"id\": \"Arduino007\", \"fallo\":msg.payload.split(\"\\t\")[1],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\nres.flag=msg.payload.split(\"\\t\")[1];\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "9e1a91f0.037ac",
                "620699d0.430148"
            ]
        ]
    },
    {
        "id": "b010d7.3e3fcf28",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "a5746fca.a833c",
        "type": "inject",
        "z": "88c38d3c.905cf",
        "name": "Send Time",
        "topic": "failureTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "2f758f88.daabb",
                "1b87f02b.95aba"
            ]
        ]
    },
    {
        "id": "9e1a91f0.037ac",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "After Format Failure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "2f758f88.daabb",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c344f44.beaa5",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "3e4aeff7.e06fb",
                "1c253c82.95c2f3"
            ]
        ]
    },
    {
        "id": "3e4aeff7.e06fb",
        "type": "debug",
        "z": "88c38d3c.905cf",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "f0cc2ab9.1d6bf8",
        "type": "function",
        "z": "88c38d3c.905cf",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "6c344f44.beaa5"
            ]
        ]
    },
    {
        "id": "ac8dc009.42a18",
        "type": "random",
        "z": "88c38d3c.905cf",
        "name": "Random failure",
        "low": "1",
        "high": "2",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "f0cc2ab9.1d6bf8"
            ]
        ]
    },
    {
        "id": "dd306e42.82958",
        "type": "inject",
        "z": "88c38d3c.905cf",
        "name": "INTERVALO DE FALLOS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "ac8dc009.42a18"
            ]
        ]
    },
    {
        "id": "6522b70f.e8f2c8",
        "type": "comment",
        "z": "88c38d3c.905cf",
        "name": "CONFIGURAR TIEMPOS",
        "info": "Agregar el tiempo entre emergencias y fallos en los nodos de intervalo",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "80eae236.ff49e",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d088fa03.8b38c8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "db7955e7.ca98c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d088fa03.8b38c8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b64f24c7.115168",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d088fa03.8b38c8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5c10e8f2.fa6628",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d088fa03.8b38c8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "7b05a6a6.4b5db8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d088fa03.8b38c8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4846e18e.fd9fc",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "d088fa03.8b38c8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d088fa03.8b38c8",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    }
]