entidadVirtual/Hub/securityTest.json
[
    {
        "id": "541dcb45.f3862c",
        "type": "tab",
        "label": "Speed Security Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2529ba28.8b9346",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload = msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "28638fff.a7e2d",
                "2d99dea7.c090fa"
            ]
        ]
    },
    {
        "id": "1b954245.445006",
        "type": "inject",
        "z": "541dcb45.f3862c",
        "name": "Send Time",
        "topic": "emergencyTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "43ec9b3.7d7afe4",
                "2529ba28.8b9346"
            ]
        ]
    },
    {
        "id": "28638fff.a7e2d",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "2d99dea7.c090fa",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    res.test=global.get(\"emailActivated\");\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "a226227e.116b3",
                "dd5aa822.eca508",
                "134fd40c.9a34b4"
            ]
        ]
    },
    {
        "id": "43ec9b3.7d7afe4",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "8ce5ab70.50ce48",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-503\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n//Set the alarm sending to true by default\nif(typeof global.get(\"emailActivated\")=='undefined')\n{\n    global.set(\"emailActivated\",true);\n}\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1][0],\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "fd8feda6.aa1b8",
                "2d99dea7.c090fa"
            ]
        ]
    },
    {
        "id": "a226227e.116b3",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "dd5aa822.eca508",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd8feda6.aa1b8",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "134fd40c.9a34b4",
        "type": "switch",
        "z": "541dcb45.f3862c",
        "name": "Classify emergency",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "4a880ab8.53045c",
                "f1ac6215.71ea1"
            ],
            [
                "49c79a13.35ab54",
                "6616a61d.7c91a"
            ],
            [
                "e5b0df38.6524f",
                "4825538c.5344ac"
            ],
            [
                "f5ab461b.8a8008",
                "d53e47c9.f9606"
            ]
        ]
    },
    {
        "id": "664a3dcb.218a14",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "cd08d78e.a11ca",
                "8ce5ab70.50ce48"
            ]
        ]
    },
    {
        "id": "4a880ab8.53045c",
        "type": "mqtt out",
        "z": "541dcb45.f3862c",
        "name": "Emergency 1",
        "topic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "66020ec3.36326",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "f1ac6215.71ea1",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1300,
        "y": 180,
        "wires": []
    },
    {
        "id": "49c79a13.35ab54",
        "type": "mqtt out",
        "z": "541dcb45.f3862c",
        "name": "Emergency 2",
        "topic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "6bf30e21.7143f",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "6616a61d.7c91a",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1380,
        "y": 300,
        "wires": []
    },
    {
        "id": "e5b0df38.6524f",
        "type": "mqtt out",
        "z": "541dcb45.f3862c",
        "name": "Emergency 3",
        "topic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "dec95f12.953088",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "4825538c.5344ac",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Merge 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "f5ab461b.8a8008",
        "type": "mqtt out",
        "z": "541dcb45.f3862c",
        "name": "Emergency 4",
        "topic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "d61fe174.7f0c2",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "d53e47c9.f9606",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Merge 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "cd08d78e.a11ca",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf17bdbc.64bb",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "664a3dcb.218a14"
            ]
        ]
    },
    {
        "id": "39cf195f.75c646",
        "type": "random",
        "z": "541dcb45.f3862c",
        "name": "Random emergency",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "cf17bdbc.64bb"
            ]
        ]
    },
    {
        "id": "1f895ef3.bd8321",
        "type": "inject",
        "z": "541dcb45.f3862c",
        "name": "INTERVALO DE EMERGENCIAS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "39cf195f.75c646"
            ]
        ]
    },
    {
        "id": "f486b1ae.f99cf8",
        "type": "mqtt out",
        "z": "541dcb45.f3862c",
        "name": "Failure 1",
        "topic": "Centro/Toscana/emergencia/cerraduraFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "fd5fe0d5.a2ccd",
        "x": 1440,
        "y": 560,
        "wires": []
    },
    {
        "id": "5449dad3.d6f6d4",
        "type": "switch",
        "z": "541dcb45.f3862c",
        "name": "Classify failure",
        "property": "flag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "f486b1ae.f99cf8",
                "b8f059ac.ce50d8"
            ],
            [
                "8b0f0221.b5ea38",
                "6206937.de5ae6c"
            ]
        ]
    },
    {
        "id": "b8f059ac.ce50d8",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Merge 1 ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1480,
        "y": 660,
        "wires": []
    },
    {
        "id": "8b0f0221.b5ea38",
        "type": "mqtt out",
        "z": "541dcb45.f3862c",
        "name": "Failure 2",
        "topic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "qos": "0",
        "retain": "false",
        "broker": "f342dd7f.73d4d",
        "x": 1460,
        "y": 720,
        "wires": []
    },
    {
        "id": "6206937.de5ae6c",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Merge 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1340,
        "y": 780,
        "wires": []
    },
    {
        "id": "68a170bb.f2c2d8",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"failureTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"failureHub\":\n        context.data.failure = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.failure != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"failureHub\";\n    context.data = null;\n    return res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 680,
        "wires": [
            [
                "472cf590.58736c",
                "351bee4b.206f52",
                "5449dad3.d6f6d4"
            ]
        ]
    },
    {
        "id": "cdd9dd8a.152268",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Format Time",
        "func": "var res = {};\n\n\nres.payload =msg.payload;\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "2502784c.0c5f78",
                "68a170bb.f2c2d8"
            ]
        ]
    },
    {
        "id": "472cf590.58736c",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Flag",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "flag",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "351bee4b.206f52",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Merge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "376ffda7.1c60d2",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Format Physical Entity",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-5-3\"\nvar conjunto=\"Toscana\"\nvar zona=\"Centro\"\n\n\nres.topic = \"failureHub\";\nres.payload = {};\n\nres.payload = {\"id\": \"Arduino007\", \"fallo\":\"1\",\"apartamento\": apartamento, \"conjunto\": conjunto,\"zona\":zona}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "69a9f368.929b54",
                "68a170bb.f2c2d8"
            ]
        ]
    },
    {
        "id": "2502784c.0c5f78",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "62f97ba9.e4f85c",
        "type": "inject",
        "z": "541dcb45.f3862c",
        "name": "Send Time",
        "topic": "failureTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "b03e27fb.6ecce8",
                "cdd9dd8a.152268"
            ]
        ]
    },
    {
        "id": "69a9f368.929b54",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "After Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "b03e27fb.6ecce8",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Before Format 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "32051cf1.edda4c",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Physical Entity mock",
        "func": "msg.flag=msg.payload.split(\"\\t\")[1][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "8219f68c.b8aea",
                "376ffda7.1c60d2"
            ]
        ]
    },
    {
        "id": "8219f68c.b8aea",
        "type": "debug",
        "z": "541dcb45.f3862c",
        "name": "Before Format 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "c531495e.519108",
        "type": "function",
        "z": "541dcb45.f3862c",
        "name": "Put id",
        "func": "msg.payload=\"Arduino007\\t\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "32051cf1.edda4c"
            ]
        ]
    },
    {
        "id": "7e64cb91.52abcc",
        "type": "random",
        "z": "541dcb45.f3862c",
        "name": "Random failure",
        "low": "1",
        "high": "4",
        "inte": "true",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "c531495e.519108"
            ]
        ]
    },
    {
        "id": "9526887.f5f56f8",
        "type": "inject",
        "z": "541dcb45.f3862c",
        "name": "INTERVALO DE FALLOS",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "7e64cb91.52abcc"
            ]
        ]
    },
    {
        "id": "beb4a069.1d0278",
        "type": "comment",
        "z": "541dcb45.f3862c",
        "name": "CONFIGURAR TIEMPOS",
        "info": "Agregar el tiempo entre emergencias y fallos en los nodos de intervalo",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "66020ec3.36326",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/puertaAbierta/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6bf30e21.7143f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaSospechosa/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dec95f12.953088",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/aperturaNoPermitida/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d61fe174.7f0c2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/emergencia/bateriaCritica/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "fd5fe0d5.a2ccd",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/cerraduraFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f342dd7f.73d4d",
        "type": "mqtt-broker",
        "z": "",
        "name": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "broker": "172.24.41.182",
        "port": "8083",
        "tls": "b43d730.8b5731",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "Centro/Toscana/fallo/hubFueraDeLinea/2-5-3",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b43d730.8b5731",
        "type": "tls-config",
        "z": "",
        "name": "CONF ARQUISOFT",
        "cert": "",
        "key": "",
        "ca": "/Users/SIS/s.guzmanm/Documents/ssl/m2mqtt_ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    }
]