entidadVirtual/flow.json
[{"id":"cef5ba7e.be6018","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"d8b7bfdc.94c6e8","type":"inject","z":"cef5ba7e.be6018","name":"Send Time","topic":"emergencyTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0","x":150,"y":220,"wires":[["25f14947.3057d6","7d37942.9cbd26c"]]},{"id":"1273fb3d.0dbae5","type":"function","z":"cef5ba7e.be6018","name":"Format Physical Entity","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\nvar apartamento=\"2-503\"\nvar conjunto=\"San Lorenzo\"\n\ntempArray = msg.payload.split(\"\\t\");\nres.topic = \"emergencyHub\";\nres.payload = {};\n\nres.payload = {\"id\": tempArray[0], \"emergencia\":tempArray[1],\"apartamento\": apartamento, \"conjunto\": conjunto}\n\nreturn res;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["fadbb047.7b5c48","82bc2ce1.e067f8"]]},{"id":"25f14947.3057d6","type":"function","z":"cef5ba7e.be6018","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["e9c93617.045618","82bc2ce1.e067f8"]]},{"id":"2d17938e.933874","type":"debug","z":"cef5ba7e.be6018","name":"Before Format 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":40,"wires":[]},{"id":"fadbb047.7b5c48","type":"debug","z":"cef5ba7e.be6018","name":"After Format","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":140,"wires":[]},{"id":"7d37942.9cbd26c","type":"debug","z":"cef5ba7e.be6018","name":"Before Format 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":240,"wires":[]},{"id":"e9c93617.045618","type":"debug","z":"cef5ba7e.be6018","name":"After Format 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":320,"wires":[]},{"id":"82bc2ce1.e067f8","type":"function","z":"cef5ba7e.be6018","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"emergencyTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"emergencyHub\":\n        context.data.emergency = msg.payload;\n        context.flag=msg.payload.emergencia;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.flag!=null && context.data.sensetime != null && context.data.emergency != null) \n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.flag=context.flag;\n    res.topic = \"emergencyHub\";\n    context.data = null;\n    \n    return res;\n}","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["cf69080d.5185","a5109cbf.ce852","1c2322a2.44c7dd"]]},{"id":"8cdeef1c.666a38","type":"debug","z":"cef5ba7e.be6018","name":"After Merge 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":140,"wires":[]},{"id":"28be366f.47bec2","type":"mqtt out","z":"cef5ba7e.be6018","name":"Emergency 1","topic":"SanLorenzo/emergencia/puertaAbierta/2-503","qos":"0","retain":"false","broker":"21b19ad3.79c22e","x":1170,"y":80,"wires":[]},{"id":"8ab5218e.819388","type":"inject","z":"cef5ba7e.be6018","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":70,"y":60,"wires":[["e3cbecf5.4f9478"]]},{"id":"e3cbecf5.4f9478","type":"random","z":"cef5ba7e.be6018","name":"Generate emergency","low":"1","high":"4","inte":"true","x":100,"y":100,"wires":[["2a4d9cba.ad825c","68376a3a.3f23e4"]]},{"id":"2a4d9cba.ad825c","type":"function","z":"cef5ba7e.be6018","name":"Example of given sensor","func":"var res = {};\nres.payload=16567467453+\"\\t\"+msg.payload\nreturn res","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["1273fb3d.0dbae5","2d17938e.933874"]]},{"id":"68376a3a.3f23e4","type":"debug","z":"cef5ba7e.be6018","name":"Example","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":200,"y":160,"wires":[]},{"id":"cf69080d.5185","type":"switch","z":"cef5ba7e.be6018","name":"Classify emergency","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1010,"y":240,"wires":[["28be366f.47bec2","8cdeef1c.666a38"],["52df4b8f.e212cc","4646ac5b.0167b4"],["d85380c0.0c9818","23f59fca.f97698"],["2c03b6d9.099b4a","5cb5ae6f.aa30d"]]},{"id":"52df4b8f.e212cc","type":"mqtt out","z":"cef5ba7e.be6018","name":"Emergency 2","topic":"SanLorenzo/emergencia/aperturaSospechosa/2-503","qos":"0","retain":"false","broker":"21b19ad3.79c22e","x":1250,"y":200,"wires":[]},{"id":"4646ac5b.0167b4","type":"debug","z":"cef5ba7e.be6018","name":"After Merge 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1320,"y":260,"wires":[]},{"id":"d85380c0.0c9818","type":"mqtt out","z":"cef5ba7e.be6018","name":"Emergency 3","topic":"SanLorenzo/emergencia/aperturaNoPermitida/2-503","qos":"0","retain":"false","broker":"21b19ad3.79c22e","x":1290,"y":320,"wires":[]},{"id":"23f59fca.f97698","type":"debug","z":"cef5ba7e.be6018","name":"After Merge 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1260,"y":380,"wires":[]},{"id":"2c03b6d9.099b4a","type":"mqtt out","z":"cef5ba7e.be6018","name":"Emergency 4","topic":"SanLorenzo/emergencia/bateriaCritica/2-503","qos":"0","retain":"false","broker":"21b19ad3.79c22e","x":1130,"y":440,"wires":[]},{"id":"5cb5ae6f.aa30d","type":"debug","z":"cef5ba7e.be6018","name":"After Merge 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":500,"wires":[]},{"id":"a5109cbf.ce852","type":"debug","z":"cef5ba7e.be6018","name":"Flag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"flag","x":850,"y":340,"wires":[]},{"id":"1c2322a2.44c7dd","type":"debug","z":"cef5ba7e.be6018","name":"Merge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":140,"wires":[]},{"id":"21b19ad3.79c22e","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.33","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]